@media screen and (max-width:1200px) {
	html,
	body,
	#Protal_home {
		width: 1200px;
		height: 100%;
		
		font-family: "微软雅黑";
	}
}

@media screen and (min-width:1200px) {
	html,
	body,
	#Protal_home {
		width: 100%;
		height: 100%;
		font-family: "微软雅黑";
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
	font-weight: normal;
}

em,
i {
	font-style: normal
}
/*header部分*/
.bigswiper{
	width: 100%;
	height: 648px;
	position: relative;
	overflow-x: hidden;
}
.swiper-slide-one{
	width: 100%;
	height: 648px;
	background: url(../../imgs/banner.png) no-repeat;
	background-size: cover;
	background-position: center center;
}
.swiper-slide-two{
	width: 100%;
	height: 648px;
	background: url(../../imgs/banner01.png) no-repeat;
	background-size: cover;
	background-position: center center;
}
.swiper-slide-three{
	width: 100%;
	height: 648px;
	background: url(../../imgs/banner02.png) no-repeat;
	background-size: cover;
	background-position: center center;
}
.swiper-slide-four{
	width: 100%;
	height: 648px;
	background: url(../../imgs/banner03.png) no-repeat;
	background-size: cover;
	background-position: center center;
}
.swiper-container-horizontal>.swiper-pagination-bullets{
	   bottom: 20px !important;
	   left:-5px !important;
}
.home_nav {
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #2a2a2a;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
}

.home_logo {
	float: left;
}

.home_logo .logo {
	float: left;
	display: block;
	margin: 12px 11px 0 22px;
}

.home_logo .headline_l {
	float: left;
	font-size: 12px;
	color: #ffffff;
	font-weight: bold;
	margin-top: 18px;
	text-align: center;
	letter-spacing: 2px;
	word-spacing: 4px;
}

.headline_l span {
	display: block;
	font-size: 12px;
	text-align: center;
	letter-spacing: 0;
}

.erect {
	float: left;
	display: block;
	margin: 0 10px;
	margin-top: 18px;
}

.home_logo .headline_r {
	float: left;
	font-size: 14px;
	color: #ffffff;
	line-height: 60px;
}

.navigation {
	height: 60px;
	float: left;
	margin-left: 18px;
}

.navigation li {
	height: 58px;
	float: left;
	margin: 0 5px;
}

.navigation li a {
	font-size: 12px;
	color: #d0d0d1;
	padding: 0 6px;
	line-height: 60px;
}

.navigation li:hover {
	border-bottom: 5px solid #3dabdf;
}

.nav_right {
	float: right;
	height: 60px;
}

.nav_search{
	float: left;
	width: 115px;
	height: 30px;
	border-radius: 30px;
	border: 1px solid rgba(255,255,255,0.6);
	margin-top: 16px;
	margin-right: 5px;
	padding-left: 5px;
}
.nav_right .logo_search {
	display: block;
	width: 83px;
	height: 30px;
	outline: none;
	font-size: 12px;
	color: #FFFFFF;
	text-indent: 12px;
	line-height: 25px;
	border: 0;
	text-indent: 12px;
	background: rgba(255,255,255,0);
}

.magnifying {
	position: absolute;
	top: 22px;
	right: 330px;
	cursor: pointer;
}

.nav_right_list {
	float: left;
}

.nav_right_list>li {
	float: left;
}

.nav_right_list>li>a {
	padding: 0 18px;
	line-height: 60px;
	font-size: 14px;
	color: #3d95df;
}

.nav_right_list>li:hover,
.nav_right_list>li:hover a {
	background: url(../../imgs/bj_02.png);
	color: #ffffff;
}

.nav_right_list>.nav_login>a {
	color: #8c8d8f;
}

.nav_right_list>.nav_register>a {
	color: #8c8d8f;
}

.home_network {
	width: 1200px;
	margin: 0 auto;
}

.home_title {
	margin-top:125px;
	text-align: center;
	font-size: 72px;
	color: #ffffff;
	letter-spacing: 12px;
}

.home_safety {
	width: 100%;
	display: flex;
	justify-content: center;
}

.home_safety li {
	float: left;
	margin: 54px 5px 0;
	font-size: 18px;
	color: #FFFFFF;
}

.log_in {
	width: 256px;
	height: 66px;
	border: 2px solid #ffffff;
	border-radius: 60px;
	display: block;
	color: #FFFFFF;
	text-align: center;
	line-height: 66px;
	margin: 100px auto 0;
	font-size: 30px;
	cursor: pointer;
}
.log_in span{
	display: block;
    float: left;
    margin-left: 52px;
}
.into{
	display: block;
    float: left;
    color: #FFFFFF;
    font-size: 40px;
    font-family: "宋体";
    font-weight: bold;
    line-height: 70px;
    margin-left: 15px;
    transition: 1s;
}
.log_in:hover .into{
	margin-left: 35px;
}
/*content*/

.content {
	width: 1200px;
	height: 603px;
	display: flex;
	position: relative;
	margin: 0 auto;
	padding: 60px 0 80px 0;
}

.content .content_left {
	width: 381px;
	height: 463px;
	background: url(../../imgs/turn.png);
	background-size: 100% 100%;
	margin-right: 150px;
	margin-left: 140px;
}

.content .content_left ul {
	width: 100%;
	height: 100%;
	position: relative;
}

.content .content_left ul li {
	width: 131px;
	height: 38px;
	border: 2px solid #d8d8d8;
	background-color: rgba(255, 255, 255, 0.8);
	color: #333333;
	text-align: center;
	line-height: 38px;
	cursor: pointer;
}

.content_state {
	position: absolute;
	left: 170px;
	top: 184px;
}

.content_menace {
	position: absolute;
	left: 121px;
	top: 66px;
}

.content_emergency {
	position: absolute;
	left: 272px;
	top: 262px;
}

.content_detection {
	position: absolute;
	top: 287px;
	left: 35px;
}

.content_management {
	position: absolute;
	top: 200px;
	left: -28px;
}

.content_right {
	width: 560px;
}

.content_title {
	font-size: 30px;
	color: #333333;
}

.content_introduce {
	font-size: 16px;
	color: #8c8c8c;
	line-height: 34px;
	margin-top: 15px;
}

.go_situation {
	display: block;
	width: 160px;
	height: 36px;
	border: 1px solid #666666;
	text-align: center;
	line-height: 36px;
	color: #666666;
	font-size: 16px;
	margin: 16px 0 50px 0;
	cursor: pointer;
}
.go_situation:hover{
	background: url(../../imgs/bj_06.png);
	color: #FFFFFF;
	border: 0;
}

.content_situation_right>li {
	display: flex;
	align-items: center;
	margin-top: 18px;
}

.content_situation_right>li img {
	display: block;
	height: 40px;
	margin-right: 5px;
}

.situation_safety {
	display: flex;
	flex-direction: column;
}

.situation_safety>h5 {
	font-size: 18px;
	color: #666666;
}

.situation_safety>p {
	font-size: 14px;
	color: #b2b2b2;
	margin-top: 6px;
}


/*newestdynamic*/

.newestdynamic {
	width: 100%;
	display: flex;
	flex-direction: column;
	background: #f3f3f3;
	height: auto;
	padding: 60px 0 86px 0;
}

.newestdynamic_title {
	font-size: 30px;
	margin: 0 auto;
}

.newestdynamic_text {
	margin: 0 auto;
	font-size: 14px;
	color: #a0a0a0;
	margin-top: 20px;
}

.newestdynamic_main {
	width: 1200px;
	height: auto;
	margin: 60px auto 0;
	display: flex;
	position: relative;
	padding-bottom: 65px;
}

.news {
	display: block;
	height: 346px;
	z-index: 10;
	position: absolute;
}
.newestdynamic_main .smallswiper{
	width: 733px;
	height: 346px;
	left: 249px;
	top: 25px;
}
.news_main {
	width: 733px;
	height: 380px;
	background: #ffffff;
	position: absolute;
	left: 735px;
	top: 34px;
	display: flex;
	justify-content: center;
	box-shadow: 2px -2px 10px 6px #d5d4d5;
}

.quotation1 {
	position: absolute;
	left: 98px;
	top: 96px;
}

.quotation2 {
	position: absolute;
	left: 663px;
	top: 210px;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
	width: 60px ;
	height: 6px;
	opacity: .4;
	margin: 0 5px;
	position: relative;
	border-radius:0;
	
}
.swiper-pagination-bullet{
	background:#e3e3e3 !important;
	opacity:.8 !important;
}
.swiper-pagination-bullet-active{
	background:#3d95df !important;
}
.news_content {
	width: 550px;
	margin-left: 90px;
}
.swiper-container-horizontal>.swiper-pagination-bullets{
	bottom: 22px;
}
.news_content_title {
	font-size: 20px;
	color: #333333;
	margin-top: 60px;
	margin-bottom: 16px;
}

.news_content_text {
	width: 520px;
	font-size: 14px;
	color: #b6b6b6;
	line-height: 30px;
	margin-bottom: 15px;
}
#learn_more{
	display: block;
	width: 160px;
	height: 36px;
	border: 1px solid #666666;
	text-align: center;
	line-height: 36px;
	color: #666666;
	font-size: 16px;
	cursor: pointer;
}
#learn_more:hover{
	background: url(../../imgs/bj_06.png);
	color: #FFFFFF;
	border: 0;
}
.newestdynamic_end{
	width: 1200px;
	display: flex;
	margin: 42px auto 0;
}
.safety_actuality{
	width: 380px;
	height: auto;
	display: flex;
	flex-direction: column;
	margin-left: 30px;
}
.actuality{
	margin-left: 0;
}
.safety_actuality_title{
	width: 380px;
	height: 76px;
	line-height: 76px;
	background:url(../../imgs/bj_10.png);
	display: flex;
	justify-content: space-between;
	padding-right: 20px;
}
.safety_actuality_title h4{
	font-size: 24px;
	text-indent: 20px;
	color: #ffffff;
}
.dongtai{
	display: flex;
}
.dongtai a{
	display: block;
	font-size: 12px;
	color: #CCCCCC;
}
.dongtai span{
	display: block;
	font-size: 14px;
	color: #CCCCCC;
	font-family: "宋体";
	font-weight: bold;
	margin-left: 3px;
}
.safety_actuality_list{
	padding: 8px 20px 10px 20px;
	width: 380px;
	height: 118px;
	overflow: hidden;
	background:#ffffff;
	border: 1px solid #cecece;
	border-top: none;
}
.safety_actuality_list li{
	width: 338px;
	height: 33px;
	text-indent:6px;
	border-bottom: 1px dashed #cecece;
}
.safety_actuality_list li a{
	font-size: 14px;
	color: #666666;
	line-height: 33px;
}
.safety_actuality_list li:hover a{
	color: #3daadf;
}
/*地图*/
.map{
	width: 100%;
	height: 600px;
	display: flex;
	flex-direction: column;
	padding-top: 56px;
	background: url(../../imgs/bjt.png);
	background-size: 100% 100%;
	background-position: center center;
	position: relative;
}
.map>img{
	display: block;
	width: 1200px;
	height: 465px;
	margin: 0 auto;
}
.map_title {
	font-size: 30px;
	margin: 0 auto;
	color: #ffffff;
}

.map_text {
	margin: 0 auto;
	font-size: 14px;
	color: #a0a0a0;
	margin-top: 20px;
	color: #ffffff;
}
.Big_Data{
	width: 100%;
	height: 70px;
	background: rgba(19,24,50,.8);
	position: absolute;
	bottom: 0;
}
.Big_Data ul{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
}
.Big_Data ul li{
	margin-left: 145px;
	display: flex;
}
.Big_Data ul li img{
	display: block;
	width: 22px;
	height: 25px;
	align-self: center;
}
.Big_Data ul li span{
	display: block;
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	color: #ffffff;
}
.Big_Data ul li span i{
	font-size: 24px;	
}
.Big_Data ul li span b{
	font-size: 14px;
	margin-top: 3px;
}
/*我们的服务*/
.server_warp{
	width: 100%;
	height: 645px;
	background: url(../../imgs/server.png);
	background-size: 100% 100%;
}
.server{
	width: 1200px;
	height: 585px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	padding-top: 60px;
}
.server ul{
	width: 100%;
	height: 380px;
	display: flex;
	margin-top: 62px;
}
.server ul li{
	width: 278px;
	height: 378px;
	margin: 0 13px;
	border: 1px solid #cecece;
	background: #FFFFFF;
}
.server ul li .server_list img{
	display: block;
	width: 100px;
	height: 100px;
	margin: 70px auto 52px;
}
.server ul li .server_list>p{
	font-size: 18px;
	text-align: center;
	color: #333333;
}
.server ul li .server_list>span{
	display: block;
	width: 18px;
	height: 1px;
	background: #999999;
	margin: 16px auto 0;
}
.server_detail{
	width: 272px;
	height: 378px;
	background: url(../../imgs/bj_14.png);
	padding-top: 42px;
	display: none;
}
.server_detail img{
	display: block;
	width: 60px;
	height: 60px;
	margin: 0 auto 12px;
}
.server_detail h6{
	font-size: 18px;
	text-align: center;
	color: #ffffff;
}
.server_detail span{
	display: block;
	width: 18px;
	height: 1px;
	background: #FFFFFF;
	margin: 16px auto 36px;
}
.server_detail p{
	margin: 0 auto;
	padding: 0 20px;
	font-size: 14px;
	line-height: 30px;
	color: #FFFFFF;
	text-align: center;
}
.server_main li:hover .server_list{
	display: none;
}
.server_main li:hover .server_detail{
	display: block;
}

/*footer*/
.footer_warp{
	width: 100%;
	height: 600px;
	background: #242526;
}
.footer{
	width: 1200px;
	margin: 0 auto;
	height: 100%;
}
.footer_main{
	width: 100%;
	min-height: 396px;
	display: flex;
	padding-top:50px ;
	padding-bottom:20px;
	margin-bottom:60px;
}
.footer_main_notice{
	width: 672px;
	height: 100%;
	margin-left: 8px;
}
.footer_main_connection{
	width: 328px;
	height: 100%;
}
.footer_main_connection ul li{
	font-size: 14px;
	color: #aaaaaa;
	line-height: 36px;
}
.footer_main_server{
	width: 135px;
	height: 100%;
}
.footer_main_help{
	width: 75px;
	height: 100%;
}
.footer_main h4{
	margin-bottom: 32px;
	font-size: 18px;
	color: #ffffff;
}
.footer_main ul li a{
	display: block;
	font-size: 14px;
	color: #aaaaaa;
	line-height: 36px;
}
.footer_main ul li a:hover{
	color: #316796;
}
.footer_copy{
	width: 100%;
	height: 90px;
	border-top: 1px solid #464748;
	border-bottom: 1px solid #464748;
	padding-top: 22px;
	text-indent: 2px;
}
.footer_copy_top{
	display: flex;
	margin-bottom: 12px;
}
.footer_copy_top h3{
	font-size: 24px;
	color: #aaaaaa;
	margin-right: 50px;
}
.footer_copy_top ul{
	display: flex;
	margin-top: 10px;
}
.footer_copy_top ul li{
	margin-left: 30px;
}
.footer_copy_top ul li a{
	font-size: 14px;
	color: #6d6e6e;
}
.footer_copy p{
	font-size: 14px;
	color: #6d6e6e;
}










