.el-header, .el-footer {
  background-color: #B3C0D1;
  color: #333;
  text-align: center;
  line-height: 60px; }

.el-main {
  background: url(../../imgs/3.png) top center no-repeat;
  color: #333;
  text-align: center;
  min-width: 1200px;
  min-height: 800px;
  overflow: hidden;
  padding: 0; }
  .el-main .center .box {
    margin-bottom:100px;
    padding-top: 1px; }
    .el-main .center .box .forms .el-table__header-wrapper {
      display: none; }
    .el-main .center .box .msg {
      width: 1200px;
      margin: 0 auto;
      background: #fff;
      margin-top: -57px;
      -webkit-box-shadow: 0px 15px 35px 0px #cecacc;
      box-shadow: 0px 15px 35px 0px #cecacc; }
      .el-main .center .box .msg .el-form-item.is-error .el-input__inner, .el-main .center .box .msg .el-form-item.is-error .el-input__inner:focus, .el-main .center .box .msg .el-form-item.is-error .el-textarea__inner, .el-main .center .box .msg .el-form-item.is-error .el-textarea__inner:focus, .el-main .center .box .msg .el-message-box__input input.invalid, .el-main .center .box .msg .el-message-box__input input.invalid:focus {
        border-color: #f56c6c; }
      .el-main .center .box .msg .el-form-item3 {
        padding-bottom: 30px;
       }
      .el-main .center .box .msg .el-table thead .cell {
        height: 35px;
        line-height: 35px; }
      .el-main .center .box .msg .el-table tbody td {
        height:75px;
        vertical-align:top;
        padding:10px 0; }
      .el-main .center .box .msg .el-table td, .el-main .center .box .msg .el-table th {
        padding: 0; }
      .el-main .center .box .msg .el-table .cell, .el-main .center .box .msg .el-table th div, .el-main .center .box .msg .el-table--border td:first-child .cell, .el-main .center .box .msg .el-table--border th:first-child .cell {
        text-align: left;
        font-size: 14px; }
      .el-main .center .box .msg .el-table--border {
        border-bottom: 1px solid #cecece;
        border-color: #cecece !important; }
      .el-main .center .box .msg .table4 .el-input__suffix {
        width: 35px;
        height: 31px; }
      .el-main .center .box .msg .table4 .el-select > .el-input {
        width: 150px; }
      .el-main .center .box .msg .table4 .el-button--text {
        font-size: 14px; }
      .el-main .center .box .msg .table4 td, .el-main .center .box .msg .table4 th.is-leaf {
        border-color: #cecece !important; }
      .el-main .center .box .msg .table4 .el-input__inner {
        height: 34px;
        width: 100%; }
      .el-main .center .box .msg .table4 .input3 .el-input__inner {
        width: 190px; }
      .el-main .center .box .msg .table4 .input4 .el-input__inner {
        width: 145px; }
      .el-main .center .box .msg .table4 .el-form-item {
        margin-bottom: 0; }
      .el-main .center .box .msg .el-form-item1 {
        margin-top: 110px; }
      .el-main .center .box .msg .el-button--primary {
        width: 400px;
        height:36px;
        padding: 0;
        line-height: 34px;
        background:url(../../imgs/pro_bg.jpg) no-repeat 0 0;
        border-radius: 2px;
        color:#fff;
        font-size: 14px;
        border: none; }
      .el-main .center .box .msg .el-button--primar:hover{
        text-decoration: none !important;
      }
      
      .el-main .center .box .msg .el-input__suffix {
        background: url(../../imgs/4.png) left 2px no-repeat;
        height:28px;
        right: 0; }
      .el-main .center .box .msg .el-select .el-input .el-select__caret {
        width: 35px;
        height: 35px;
        line-height: 35px; 
        position: relative;
        left: -3px;
        top: 2px;}
      .el-main .center .box .msg .el-select > .el-input {
        width: 400px; }
      .el-main .center .box .msg .el-tabs__content {
        width: 1000px;
        margin: 0 auto; }
      .el-main .center .box .msg .info01 {
        display: block;
        position: relative;
        font-size: 24px;
        height: 31px;
        line-height: 31px;
        color: #333;
        padding-left: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 5px;
        text-align: left; }
      .el-main .center .box .msg .info01:before {
        content: '';
        position: absolute;
        left: 0;
        top: 4px;
        height: 25px;
        width: 4px;
        background: #3d95df; }
      .el-main .center .box .msg .el-form-item {
        margin-bottom: 30px; }
      .el-main .center .box .msg .el-form-item__content {
        margin-left: 100px;
        margin: 0 auto !important;
        /* width: 400px; */
        line-height: 36px; }
      .el-main .center .box .msg .el-form-item.is-required .el-form-item__label:before {
        content: ''; }
      .el-main .center .box .msg .el-input__inner {
        border-radius: 2px;
        border-color: #cecece;
        height: 36px;
        line-height: 36px; }
      .el-main .center .box .msg .el-tabs__header {
        margin-bottom: 0; }
      .el-main .center .box .msg .el-tabs__nav-wrap.is-scrollable {
        padding: 0; }
      .el-main .center .box .msg #tab-first, .el-main .center .box .msg #tab-second {
        width: 600px !important;
        height:20px;
        line-height:20px;
        -webkit-box-sizing: content-box;
                box-sizing: content-box;
        margin:10px 0;
        padding:0;
      }
      .el-main .center .box .msg #tab-first{
        border-right: solid 1px #cecece;
      }
      .el-main .center .box .msg .demo-ruleForm1 .el-form-item2 {
        margin-top: 106px; }
      .el-main .center .box .msg .btn {
        position: absolute;
        left: 0;
        height: 36px;
        line-height: 36px;
        padding: 0;
        border-radius: 2px;
        margin-top: 10px;
        font-size:14px;
        color:#333333;
        border:solid 1px #cecece;
        width: 100px; }
      .el-main .center .box .msg .btn:hover{
        background:#ededed !important;
      }
  .el-main .info {
    height: 140px;
    padding: 70px 0; }
    .el-main .info p {
      color: #fff; }
    .el-main .info .title {
      color: #fff;
      font-size: 36px;
      line-height: 36px; }
    .el-main .info .summary {
      margin-top: 20px;
      font-size: 24px;
      line-height: 24px; }

body > .el-container {
  margin-bottom: 40px; }

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
  line-height: 260px; }

.el-container:nth-child(7) .el-aside {
  line-height: 320px; }

.el-header .grid-content {
  height: 60px; }
ul.el-menu-demo.el-menu--horizontal.el-menu{
  margin-left:20px;
}
.el-header .bg-purple2 {
  width: 455px; }

.el-header .bg-purple1 .el-radio-group {
  width: 288px; }
.bg-purple2 .el-radio-button__inner{
  font-size:16px;
}
.el-header {
  background: url(../../imgs/2.png) center no-repeat;
  padding-right: 0; }
  .el-header .el-menu--horizontal > .el-menu-item {
    color: #dedede;
    font-size: 16px;
    padding: 0 15px; }
  .el-header .el-input__inner {
    background-color: none;
    border-radius: 18px;
    border: 1px solid #828283;
    color: #333;
    font-size: inherit;
    height: 36px;
    width: 150px;
    line-height: 40px;
    padding: 0 15px; }
  .el-header .el-input {
    width: auto;
    margin-top: 12px; }
  .el-header .el-input__icon {
    font-size: 20px; }
  .el-header .el-input__suffix {
    right: 10px;
    cursor: pointer; }
  .el-header .el-input__inner {
    padding-right: 32px !important; }
  .el-header .el-radio-button__inner {
    height: 60px;
    line-height: 34px;
    border-radius: 0 !important;
    padding: 12px 18px;
    background: none;
    border: 0 none !important;
    color: #a6a6a6; }
  .el-header .el-menu--horizontal {
    border: 0 none; }

.el-header, .el-footer {
  text-align: left;
  min-width: 1200px;
  overflow: hidden; }

.el-menu--horizontal {
  background: none; }

.el-menu--horizontal .el-menu-item:not(.is-disabled):focus, .el-menu--horizontal .el-menu-item:not(.is-disabled):hover {
  outline: 0;
  color: #fff;
  background: none; }

.el-menu--horizontal > .el-menu-item.is-active {
  border-bottom: 5px solid #409EFF; }

.bg-purple1 {
  background: url(../../imgs/1.png) center left no-repeat;
  padding-left: 385px; }
.center{
    width: 1200px;
    position: relative;
    padding-bottom: 28px;
    margin: 0 auto;
}
.el-footer {
  background: #242526;
  height:528px !important;
  padding: 0; }
  .el-footer .el-card {
    border: none;
    background: none;
    float: left;
    margin-right: 87px; }
    .el-footer .el-card .clearfix {
      padding-top: 18px; }
      .el-footer .el-card .clearfix span {
        font-size: 30px;
        line-height: 80px !important;
        padding-top:35px;
        display:block;
        padding-bottom:5px;
        color: #fff; }
    .el-footer .el-card .el-card__body {
      padding: 0; }
      .el-footer .el-card .el-card__body span.notice {
        line-height: 36px; 
        padding-top:35px;
        padding-bottom:5px;
        display:block;
      }
      .el-footer .el-card .el-card__body .text {
        line-height: 36px;
        color: #fff;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
        .el-footer .el-card .el-card__body .text a {
          font-size:14px;
          color: #aaa; }
        .el-footer .el-card .el-card__body .text a:hover {
          color: #30587e; }
  .el-footer .box-card1 {
    width: 510px;
    margin-right:90px;
    padding-right:60px;
  }
  .el-footer .box-card2 {
     }
  .el-footer .box-card3 {
    margin-right: 0;
  }
  .el-footer .foot1 {
    margin-top: 50px;
    height: 90px;
    border-top: 1px solid #464748;
    border-bottom: 1px solid #464748; }
    .el-footer .foot1 .p1 {
      line-height: 45px;
      margin-top: 10px; }
    .el-footer .foot1 .p2 {
      line-height: 14px;
      color: #6d6e6e; }
    .el-footer .foot1 .span2 {
      margin-right: 30px; }
    .el-footer .foot1 .span1 a {
      color: #aaa;
      font-size: 24px;
      margin-right: 75px; }
    .el-footer .foot1 a {
      color: #6d6e6e;
      font-size: 14px; }

.el-card.is-always-shadow, .el-card.is-hover-shadow:focus, .el-card.is-hover-shadow:hover {
  -webkit-box-shadow: none;
  box-shadow: none; }
  .fl {
    float: left;
}
.el-table .cell{
  
}
.txt{
  width: 400px;
  margin:0 auto;
}
.fr {
    float: right;
}

.clear {
    clear: both;
    line-height: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
}
.clear1 {
    clear: both;
    line-height: 0;
    height: 0;
}
.clearfix::before,
.clearfix::after {
    content: '';
    display: block;
    visibility: hidden;
    clear: both;
    line-height: 0;
    height: 0;
}
.el-tabs__active-bar{
  bottom:2px;
  background:url(../../imgs/pr_line.gif) no-repeat 0 0;
}
.el-tabs__nav-scroll{
  padding-top: 34px;
}
.el-icon-arrow-left:before{
  content:"";
}
.el-icon-arrow-right:before{
  content:"";
}
.el-autocomplete{
  width:100%;
}
.el-input__inner{
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.el-tabs__item{
  color:#333;
}
.el-tabs__item.is-active{
  color:#333;
}
.el-tabs__item:hover{
  color:#3dacdf;
}
.el-main .center .box .msg .el-table thead .cell{
  color:#333;
  font-weight: 400;
}
.el-button--small, .el-button--small.is-round{
  padding:0
}
.project_error{
  display: none;
}
.el-radio-button__orig-radio:checked+.el-radio-button__inner{
  background: url(../../imgs/bj_02.png);
}
/*文字对齐方式*/
.tc {
    text-align: center;
}
.ind {
    text-indent: 2em;
}
/* 后台基本布局 */
.breadcrumb{
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
  height:46px;
  padding:13px 0;
}
/* 按钮 */
.el-button {
    line-height: 34px;
    height: 34px;
    border-radius: 2px;
    border: none;
}
.fsnum2{
	width: 70px !important;
	padding: 0;
}
.btn_default{
	background:#3d95df !important;
}
.btn_default:hover{
	background: #0065ba !important;
}
.btn_back{
	color: #333333;
    background: #ffffff;
    border: solid 1px #cecece;
}
.btn_back:hover{
	color: #333333;
	background: #ededed;
	text-decoration: none;
	border: solid 1px #cecece;
}
/* 按钮 disabled */
.is-disabled .el-input__inner{
  background:#ededed !important;
  border:solid 1px #cecece !important;
  padding:0 20px !important;
}
.btn_operation{
  color:#3d95df;
}
.btn_operation:hover{
  color:#0065ba;
  text-decoration: underline;
}
/* 弹出框 */
.el-dialog{
	-webkit-box-shadow:4px 10px 20px #454545;
			box-shadow:4px 10px 20px #454545;
	border: solid 1px #cecece;
}
.warn_con{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.warn_com{
	text-align: left;
	line-height: 1;
	padding-left: 10px;
}
.warn_ft{
	margin-bottom: 5px;
}
.warn_bd{
	font-size:12px;
	color:#666666;
}
.el-icon-close:before{
	content: ""
}
.el-dialog__footer{
	text-align: center;
}
/* 报错 */
.red{border-color: #f56c6c !important;}
.error ,.project_error2{
  display:none;
  color:#f56c6c;
  line-height:18px;
}


.dashborder{
  border-bottom:1px dashed #cecece;
}
/* 保存弹出块 */
.show{
	display: block !important;
}
.submit_w{
	display:none;
	position: absolute;
	left:50%;
	top:120px;
	margin-left:-75px;
}
.submit_box{
	-webkit-box-shadow: 0 0px 18px 0px #bbb;
			box-shadow: 0 0px 18px 0px #bbb;
	width:150px;
	height:80px;
	background:#fff;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
			flex-direction: row;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.submit_box p{
	font-size:14px;
	color:#333;
	margin-left:8px;
}