@media screen and (max-width:1200px) {
	html,
	body,
	#Protal_home {
		width: 1200px;
		height: 100%;
		font-family: "Î¢ÈíÑÅºÚ";
	}
}

@media screen and (min-width:1200px) {
	html,
	body,
	#Protal_home {
		width: 100%;
		height: 100%;
		font-family: "Î¢ÈíÑÅºÚ";
	}
}

* {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
	font-weight: normal;
}

em,
i {
	font-style: normal
}

/*header²¿·Ö*/

.home_header {
	width: 100%;
	height: 488px;
	position: relative;
	overflow: hidden;
}

.home_nav {
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #2a2a2a;
	background: rgba(0,0,0,0.2);
}

.home_logo {
	float: left;
}

.home_logo .logo {
	float: left;
	display: block;
	margin: 12px 11px 0 22px;
}

.home_logo .headline_l {
	float: left;
	font-size: 12px;
	color: #ffffff;
	font-weight: bold;
	margin-top: 18px;
	text-align: center;
	letter-spacing: 2px;
	word-spacing: 4px;
}

.headline_l span {
	display: block;
	font-size: 12px;
	text-align: center;
	letter-spacing: 0;
}

.erect {
	float: left;
	display: block;
	margin: 0 10px;
	margin-top: 18px;
}

.home_logo .headline_r {
	float: left;
	font-size: 14px;
	color: #ffffff;
	line-height: 60px;
}

.navigation {
	height: 60px;
	float: left;
	margin-left: 18px;
}

.navigation li {
	height: 55px;
	float: left;
	margin: 0 5px;
}

.navigation li a {
	font-size: 12px;
	color: #d0d0d1;
	padding: 0 6px;
	line-height: 60px;
}

.navigation li:hover {
	border-bottom: 5px solid #3dabdf;
}

.nav_right {
	float: right;
	height: 60px;
}
.nav_search{
	float: left;
	width: 115px;
	height: 30px;
	border-radius: 30px;
	border: 1px solid rgba(255,255,255,0.6);
	margin-top: 16px;
	margin-right: 5px;
	padding-left: 5px;
}
.nav_right .logo_search {
	display: block;
	width: 83px;
	height: 30px;
	outline: none;
	font-size: 12px;
	color: #FFFFFF;
	text-indent: 12px;
	line-height: 25px;
	border: 0;
	text-indent: 12px;
	background: rgba(255,255,255,0);
}

.magnifying {
	position: absolute;
	top: 22px;
	right: 330px;
	cursor: pointer;
}

.nav_right_list {
	float: left;
}

.nav_right_list>li {
	float: left;
}

.nav_right_list>li>a {
	padding: 0 18px;
	line-height: 60px;
	font-size: 14px;
	color: #3d95df;
}

.nav_right_list>li:hover,
.nav_right_list>li:hover a {
	background: url(../../imgs/bj_02.png);
	color: #ffffff;
}

.nav_right_list>.nav_login>a {
	color: #c7c7c7;
}

.nav_right_list>.nav_register>a {
	color: #8c8d8f;
}
.network{
	width: 1200px;
	margin: 0 auto;
}
.network_title{
	margin: 50px 0 30px 0;
	font-size: 48px;
	color: #FFFFFF;
}
.network_text{
	font-size: 18px;
	color: #f5f5f5;
}
.network_server{
	width: 100%;
	height: 40px;
	background: rgba(0,0,0,.7);
	position: absolute;
	bottom: 0;
}
.network_server ul{
	width: 1200px;
	margin: 0 auto;
	display: flex;
	padding: 10px 0;
}
.network_server ul li{
	width: 299px;
	height: 20px;
	text-align: center;
	border-left: 1px solid #ffffff;
}
.network_server ul li a{
	display: block;
	line-height: 20px;
	font-size: 14px;
	color: #ffffff;
}
.network_server ul li a:hover{
	color: #3da4df;
}
.list_last{
	border-right: 1px solid #ffffff;
}
/*content*/
.operation_content_warp{
	width: 100%;
	height: auto;
	background: #FFFFFF;
}
.operation_content{
	width: 100%;
}
.operation_server{
	width: 100%;
	padding-top: 40px;
	
}
.server_overview{
	width: 1200px;
	height: 165px;
	margin: 0 auto;
}
.server_overview>h4{
	text-align: center;
	font-size: 24px;
	color: #ffffff;
	padding: 30px 0 20px 0;
}
.server_overview>p{
	text-align: center;
	font-size: 14px;
	color: #ffffff;
	padding: 0 133px 0 125px;
}
/*footer*/
.footer_warp{
	width: 100%;
	height: 600px;
	background: #242526;
}
.footer{
	width: 1200px;
	margin: 0 auto;
	height: 100%;
}
.footer_main{
	width: 100%;
	height: 396px;
	display: flex;
	padding-top:50px ;
}
.footer_main_notice{
	width: 672px;
	height: 100%;
	margin-left: 8px;
}
.footer_main_connection{
	width: 328px;
	height: 100%;
}
.footer_main_connection ul li{
	font-size: 14px;
	color: #aaaaaa;
	line-height: 36px;
}
.footer_main_server{
	width: 135px;
	height: 100%;
}
.footer_main_help{
	width: 75px;
	height: 100%;
}
.footer_main h4{
	margin-bottom: 32px;
	font-size: 18px;
	color: #ffffff;
}
.footer_main ul li a{
	display: block;
	font-size: 14px;
	color: #aaaaaa;
	line-height: 36px;
}
.footer_main ul li a:hover{
	color: #316796;
}
.footer_copy{
	width: 100%;
	height: 70px;
	border-top: 1px solid #464748;
	border-bottom: 1px solid #464748;
	padding-top: 22px;
	text-indent: 2px;
}
.footer_copy_top{
	display: flex;
	margin-bottom: 12px;
}
.footer_copy_top h3{
	font-size: 24px;
	color: #aaaaaa;
	margin-right: 50px;
}
.footer_copy_top ul{
	display: flex;
	margin-top: 10px;
}
.footer_copy_top ul li{
	margin-left: 30px;
}
.footer_copy_top ul li a{
	font-size: 14px;
	color: #6d6e6e;
}
.footer_copy p{
	font-size: 14px;
	color: #6d6e6e;
}


#suspension {
	width: 100%;
	height: 60px;
	background: #FFFFFF;
	z-index: 200;
	box-shadow:0 2px 12px rgba(0,0,0,.8);
}
#suspension ul{
	width: 1200px;
	margin: 0 auto;
	display: flex;
	line-height: 60px;
	justify-content: space-between;
	cursor: pointer;
	z-index: 200;
}
.showlist li{
	    width: 299px;
	    text-align: center;
}
#suspension ul .zhanshi{
	cursor: auto;
}