.home_header{
	
	background: url(../../imgs/S0104banner.png);
	background-size: cover;
	background-position: center center;
}
.server_overview{
	background: url(../../imgs/S0103server.png);
}
.safety_study_details img{
	padding: 0;
}
.safety_study_details{
	width: 1188px;
	padding: 0 14px 0 0;
}
.price_size ul .list_price{
	width: 100%;
	height: auto;
	text-align: center;
	color: #ffffff;
	font-size: 16px;
	margin-bottom: 18px;
}