.home_header{
	background: url(../../imgs/S0103banner.png);
	background-size: cover;
	background-position: center center;
}
.server_overview{
	background: url(../../imgs/S0103server.png);
}
.el-select .el-input__inner{
	width: 380px;
	height: auto;
    text-indent: 14px;
    margin-top: 19px;
    font-size: 16px;
    box-shadow: 0 0 0, 0 -2px 10px -1px #cecece, 0 2px 10px -1px #cecece, 0 0 0;
}
.el-select .el-input .el-input__suffix .el-select__caret{
	color: #a3a3a3;
    font-size: 22px;
    margin-top: 11px;
    margin-right: 6px;  
}
.mar_p{
	margin-bottom: 24px;
}
.el-select .el-input__inner {
    width: 380px;
    height: auto;
    text-indent: 14px;
    margin-top: 19px;
    font-size: 16px;
    box-shadow: 0 0 0, 0 -2px 10px -1px #cecece, 0 2px 10px -1px #cecece, 0 0 0;
}
