
.content{margin:10px;}
.navigationTitle{margin-bottom: 15px; line-height:34px; overflow: hidden; color:#333; font-size: 14px; font-family: 微软雅黑;}
.filterCont{ padding:15px 15px 0 0;  background-color:#fff; margin-bottom:15px }
.categorySame{background:#fff}
.category{height:320px;}
.categoryBrowse{height:406px; margin-top:15px;}
.categoryLoad{height:406px; margin-top:15px;}
.noticeTitle{height:49px; border-bottom:1px solid #ededed}
.noticeTitleLeft{line-height:49px;}
.noticeTitleLeft p{font-size: 14px;color:#333;}
.noticeTitleLeft p i{display: inline-block; width:2px; height: 20px; background-color: #3d95df;margin-left:16px; position: relative; top: 5px; }
.noticeTitleLeft p span{padding-left:12px}
.categoryArray{overflow: hidden}
.categoryArray li{float: left; padding:0 20px;font-size:14px; height:49px; line-height: 49px; cursor: pointer}
.categoryArray li.active{color:#3d95df; border-bottom:3px solid #3d95df;}
#categoryOne{height:240px; margin-top:-20px;}
#categoryTwo,#categoryThree{height:340px;margin-top:-45px;}
.bulletinList{background-color:#fff;  height:1162px;}
.bulletinCont{margin:15px; position: relative;height:1000px;}
/* .bulletinContList{} */
.bulletinContList li{height:50px; line-height: 50px;overflow: hidden}
.bulletinContList li:nth-child(odd){background-color:#f9f9f9;}
.bulletinListLeft{margin-left:15px;float: left; display:flex; display: -ms-flexbox;  width:calc(100% - 230px); overflow: hidden}
.bulletinListLeft a{color:#000; font-size:14px; display:block; white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.bulletinListLeft a:hover{color:#3d95df; border-bottom:1px solid #3d95df;}
.bulletinListLeft i{display: block; margin-top:15px;width:36px; height:20px; margin-left:10px;}
.bulletinListLeft i.icon_new{background-image:url(/imgs/safetyBulletin/new.png)}
.bulletinListLeft i.icon_setTop{background-image:url(/imgs/safetyBulletin/setTop.png)}
.bulletinListRight{float: right; margin-right:20px;}
.bulletinListRight p{color:#999;}
.bulletinListRight span{ font-size: 12px}
.bulletinContBottom{margin-top: 20px;}
.el-pagination span:not([class*=suffix]).el-pagination__jump{margin-left:5px}
.totalNumber{font-weight:normal; color: #606266; }
.outLine{color:#989898; height:32px; line-height:32px}

.queryDate{overflow: hidden}
.queryDate div{float:left; box-sizing: border-box}
.queryDateSame{width:calc(100%/2 - 20px)}
.reachLine{text-align: center; margin:0 10px;}


.bulletinLlist{background-color:#fff;}
.bulletinLlistCont{margin:15px 15px 0; padding-bottom:15px;}
.bulletinLlistBtn,.tableList,.addNoticeForm{margin-top:15px;}


.addNotice{background-color:#fff;}
.addNoticeForm{margin:15px;}
.label{width:90px; line-height:40px; text-align: right;font-size: 14px;
    color: #606266;} 
.label b{color:#f56c6c;} 
.labelButton ul{overflow:hidden; width:240px;border:1px solid #dcdfe6; height:38px;
                border-radius:5px}
.labelButton ul li{float: left; font-size: 14px; cursor: pointer; color: #606266; width:50%; box-sizing: border-box;  text-align: center; box-sizing: border-box;  line-height:38px;}
.labelButton ul li:first-child{border-right:1px solid #dcdfe6; }
.labelButton ul li.active{background-color:#3d95df; color:#fff;}
.labelButton ul li.active:hover{background-color:#0065ba}

.el-pagination button, .el-pagination span:not([class*=suffix]){
	   padding:0 5px;
}

.bulletinLlistBtn{overflow: hidden}

.bulletinLlistBtn button{
	  background-color: transparent;
	  border: 0 none;
	  cursor: pointer;
	  margin-right:10px;
	  float: left;
	  border-radius:2px;
	  font-size:14px;
}

.none{display: none;}
/*加载中*/
.loadCenter{width:240px; height:85px; background-color:#fff;
            box-shadow:1px 1px 10px -1px #ccc;
            position:fixed ; top:40px;
            left:50%; margin-left:-120px;
            z-index:10004;
            text-align: center;
            line-height:85px;
              }
.loadCenter img{position: relative; top:10px; padding-right:5px}              
/*加载中*/

.bulletinLlistBtn button.addBtn{
	 /*  background-image: url(/imgs/safetyBulletin/add.png); */
	  width:70px;
	  height: 34px;
	  background-color:#60ad56;
	  color: #fff;
}
.bulletinLlistBtn button.addBtn:hover{
	 /* background-image: url(/imgs/safetyBulletin/add2.png); */
	 background-color: #288f1a;
}

.bulletinLlistBtn button.deleteBtn{
	  background-color:#d81e06;
	  color: #fff;
}
.bulletinLlistBtn button.deleteBtn:hover{
	  background-color:#9f1200
}

.bulletinLlistBtn button.setTopBtn{
	  background-color: #3d95df;
	  color: #fff;
}
.bulletinLlistBtn button.setTopBtn:hover{
	  background-color:#0065ba
}

.bulletinLlistBtn button.cancelBtn{
	  background-color:#fff;
	  color:#333;
	  border: 1px solid #cecece;
}
.bulletinLlistBtn button.cancelBtn:hover{
	  background-color:#ededed
}
.bulletinLlistBtn button.gray{
	background-color:#ededed; border:1px solid #cecece; color:#cecece;
     cursor:not-allowed;
}  



.popupMessage{background-color:#fff; text-align: center; box-shadow:1px 1px 20px 1px #ccc; }
.popupMessageCont{position: relative; top:23px;}
.popupMessage span{position: relative; padding-left:5px;  top:-12px; font-size:14px; color:#333;}
.releaseSuccess{width: 150px; height:80px;}
.releaseFail{width: 235px; height:80px;}
.releaseDelete{width:270px; height:220px;}
/* .releaseDelete button{width:75px; cursor: pointer; border-radius: 5px; height:35px; border:0 none; background-color:transparent;}
.releaseDelete button.queding{background-color:#3d95df; color:#fff;}
.releaseDelete button.quxiao{border: 1px solid #cecece; color:#333;} */
.determine,.prevent{height:220px; width:500px;background-color:#fff; box-shadow:1px 1px 20px 1px #ccc; }
.determineContTop{width:275px; padding-top:50px; margin:0 auto; overflow: hidden}
.determineLeft{float: left}
.determineRight{float: left; margin:35px 0 0 10px;}
.determineRight span{color:#333; font-size:14px}
.determineRight b{color:#666; font-weight: normal}
.determineContBtm{margin-top:40px; text-align: center}

.mdw-popup{position:fixed;z-index:1001; top:0; left:0;display: none}
.mdw-popup-mark{position: fixed; left:0; top:0; z-index:1000;opacity:0.5;filter:alpha(opacity=50);}



.loadList{border-bottom:1px solid #ccc ;   width:100%; height:30px;overflow: hidden }
.loadListCont{position: relative;}
.loadListCont img{width:20px; height:20px; position: absolute; top:-8px;left:-18px;}
.loadList li{float: left; position: relative; color: #fff; padding: 0 30px 0 10px; margin-right:10px; line-height: 30px;  background-color:#66b1ff}
.loadList li i{display: block; width:15px; cursor: pointer; height:15px; background-image:url(/imgs/safetyBulletin/del.png);
                 position: absolute; right:3px; top:7px;}
.limit{margin-top:15px; color:#999;}
.limit span{color:#ff0000;}


.el-pagination.is-background .el-pager li:not(.disabled).active{
	  background-color:#000;
	  color: #fff;
}

.el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li{
	   background-color:#fff;
	   color:#333;
	   border:1px solid #cecece;
} 


.el-pagination.is-background .el-pager li:not(.active).number:hover{
	color: #333;
	background-color:#f0f0f0
}


.announcementCont{background-color:#fff;  padding-bottom:30px;  }
.announcementBady{margin:0 15px;}
.callUrl{float: right;}
.callUrl button:last-child{margin:0;} 
.sameNavigationLeft{line-height: 34px; float: left;}
.detailsHeadr h1{text-align: center; color:#333; font-size: 30px; padding-top:10px;}   
.release{margin-top:40px; border-bottom: 1px solid #ededed;padding-bottom:10px;}
.releaseCont{text-align: center;}
.releaseCont span{padding:0 30px;}
.detailsCont{margin-top:10px;} 
.setWoll{border-bottom:1px solid #ededed;margin-bottom:10px;padding-bottom:10px; }
.setWollCont{margin:0 15%;}
.detailsContTop{ margin:10px 20px 0;  word-wrap: break-word;word-break: normal; }           
.detailsContBtm p{ margin-bottom: 10px; }
.detailsContBtm p img{position: relative; top:5px;}
.detailsContBtm p a,.hoverALink:hover{color:#3d95df;}
.detailsContBtm p a{cursor: pointer; padding-right:10px}
.spanNotExpired{color:#5dae51;}
.spanSetTop{color:#ff9933;}
.spanPublished{color:#12cbf6;}
.spanEdit{color:#3d95df; cursor: pointer}
.spanEdit strong{font-weight:normal }
.spanEdit strong:hover{border-bottom:1px solid #0065ba; color:#0065ba;}
.marget{margin-top:20px;}
.releaseBtn{overflow: hidden; height:40px; line-height: 40px}
.navigationTitleRight{float: right;}
.navigationTitleRight ul{height:37px;}
.navigationTitleRight li{width:70px; height:35px; 
        float: left; margin-right:10px;  }
.upLoadClass{width:70px;  height:31px; border-radius:5px; border:1px solid #cecece; color:#333;cursor: pointer;}
/* .navigationTitleRight li button{line-height:31px; border-radius:3px;  width:70px; border: 0 none;  height:31px; cursor: pointer;}
.navigationTitleRight li button.bgeak{background-color:#ededed;color:#999; border:1px solid #cecece;} */
/* .navigationTitleRight li button.select, */.upLoadClass.select{background-color: #3d95df; color:#fff;} 

.selectionBox{width:100%; border-radius:3px; height: 38px; border:1px solid #dcdfe6; }
.selectionBoxTop input{height:38px; color: #606266; font-size:14px;border: 0 none; text-indent:10px; width:70%}
.selectionBoxTop2 input{height:38px; color: #606266; font-size:14px;border: 0 none; text-indent:10px; width:80%;}

.selectionBoxTop input::-webkit-input-placeholder {
	color: #999;
}
.selectionBoxTop input:-ms-input-placeholder { 
	color: #999;
}
.selectionBoxTop input:-moz-placeholder { 
	color: #999;
}
.selectionBoxTop input::-moz-placeholder { 
	color: #999;
}


.selectionBoxTop2 i,.selectionBoxTop i{ cursor: pointer; display:inline-block;  width:15px; height:15px; position: relative; top:3px; background-image: url(/imgs/safetyBulletin/inputRemove.png) }
.removeText{width:18%;height:38px; float: right; position: relative;}
.removeText i{}
.xiala{display: block; width:26px; height:20px;
       background-image: url(/imgs/safetyBulletin/xiala.png);
       float: right; margin:9px 6px 0 0; cursor: pointer}
.selectionBoxBtm{width:100%; background-color:#fff; position:relative; z-index:1000; margin-left:-1px; border:1px solid #dcdfe6; border-top:0 none;}       
.selectionBoxBtm ul li{height:40px; cursor: pointer; text-align: center; line-height:40px; color:#606266; font-size:14px;}
.selectionBoxBtm ul li:hover{background-color: #ebf4fb; box-sizing: border-box; border:1px solid #3d94d5;}
 .categoryErr{margin:-20px 0 0 100px;}
.categoryErr span{ color:#f56c6c; font-size:12px;}
.categoryErr strong{color:#ccc;}


/*弹窗*/

.dialogVisibleTop h1{font-size:30px; color:#333;text-align: center }
.dialogVisibleCont{margin-top:40px;border-bottom: 1px solid #ededed;
    padding-bottom: 10px; }
.dialogVisibleCont strong{color: #333; font-size:12px}
.dialogVisibleBtm{ margin: 0 20px; padding:10px 0;  word-wrap: break-word;
    word-break: normal;}
.dialogVisibleFooter p{margin-bottom:10px;}
.dialogVisibleFooter span{color:#3d95df; padding-right: 10px; cursor: pointer}
.dialogVisibleDialog{width:80%;height:500px; }
.el-dialog__body{ height:400px;overflow:auto }
.managementBulletinEncoder{float:left;width: calc(100% - 83px);  word-break: normal; word-wrap: break-word;}
/*管理公告详情*/

.managementBulletinBady{margin:20px 15% 0;}
.managementBulletinCont{margin-bottom:30px; overflow: hidden;}
.managementBulletinCont p span{color:#3d95df; cursor: pointer; padding-right:10px}
.managementBulletinContImg p img{position: relative; top:3px;}
.aet .el-dialog__body{font-size:12px;}
/*附件*/
.enclosure{padding:15px 0; line-height: normal; overflow: hidden; border-bottom:1px solid #ccc;}
.enclosureBtn{width:180px; margin:0 10px; height: 24px; float: left; overflow: hidden; border:1px solid #ccc; border-radius:5px}
.enclosure span{float: left;margin-top:5px;}
.enclosure img{cursor: pointer; margin-top:3px;}
.enclosureBtn input{width:100px;  text-indent:10px; float: left; border:0 none; height:25px;}
.enclosureBtn button{width:80px; float: right; height:24px; border:0 none; background-color:#f2f2f2;  cursor: pointer}
.liebei{margin:10px 0 0 15px;}
.liebei h2{font-size:14px; color:#333;}
.liebei p{font-size:12px; color:#999;}
body .el-table th.gutter{
    display: table-cell!important;
}

.noDate{text-align: center;}
.dialogVisibleRemove{width:16px; height:16px; display:block;
	                 position: absolute;top:12px;
	                  right: 15px;
	                  cursor: pointer;
                     background-image: url(/imgs/safetyBulletin/cha1.png);}
.dialog{width:80%; height:70%;  position: relative;
       }                     
.dialogCont{width:100%; height:100%; overflow: auto; box-sizing:border-box; padding:30px 15px; }
.btnSame{border:0 none; margin:0 5px; border-radius:2px; cursor: pointer; background-color:transparent}
.btnSmall{width:70px; height:34px; line-height:34px}
.btnBig{width:100px; height:34px;line-height:34px}
.btnBig i{display: inline-block; width:16px; height:9px;background-image: url(/imgs/safetyBulletin/xiala2.png);}
.btnBlue{font-size:14px; background-color:#3d95df; color:#fff;}
.btnBlue:hover{background-color:#0065ba;}
.btnDelete{font-size:14px; background-color:#d81e06; color:#fff;}
.btnDelete:hover{background-color:#9f1200;}
.btnCancel{font-size:14px; box-sizing: border-box; background-color:#fff; border: 1px solid #cecece; color:#333333;}
.btnCancel:hover{background-color:#ededed;}
.btnDisable{background-color:#ededed; border:1px solid #cecece; cursor:not-allowed;}
.el-table th>.cell{color:#333; font-size:14px; font-weight: normal}
.el-table .cell{color:#333; font-size:12px}
.el-table th, .el-table td{padding:0; height:36px;}
.el-table__body-wrapper{border-top:2px solid #cecece;}
.el-input__inner{border-radius:2px; height:34px; line-height:34px }
.el-form-item__label{height:34px; padding-right:7px !important;}
.dateIonic{width:13px; display: inline-block; position: relative;  height:14px; background-image:url(/imgs/safetyBulletin/ele_date_icon.gif);}
.dateIonic:before{content: ''; height:19px; display: block; border-left: 1px solid #cecece; left:-5px; top:-3px; position: absolute}
.el-input--prefix .el-input__inner{padding-left:10px;}
.el-input__prefix{right:7px;left:auto; top:13px;}
.dateIonicVB .el-input__suffix{right:25px !important;}
.el-input{box-sizing: border-box;}

.samell .el-form-item__label{width:60px !important;}
.samell .el-form-item__content{margin-left:60px !important;}
.selectInput .el-input__icon{line-height:34px !important;}
.selectInput  .el-input__suffix-inner{border-left: solid 1px #cecece;}

.selectInput  .el-input.is-disabled .el-input__inner{
	   background-color: #ededed;
	   color: #999 !important;
	   border:1px solid #cecece !important;
}

.cellAll{  white-space:nowrap;overflow:hidden;text-overflow:ellipsis; }
.labeText{display: inline-block; color:#333; margin-right:3px; width:80px; text-align: right;}
.managementBulletinCont{color:#666;}
.outlineCont .el-input__icon{line-height: 34px;}

.removeCalss:hover .el-input .el-select__caret.is-show-close{
	 position: relative;
     left:-22px;    
}

.el-dialog__header{border-bottom: 1px solid #cecece; background-color:#f9f9f9; padding:0; height:40px; line-height:40px; text-indent:15px}
.el-dialog__title{font-size:14px}
.ulopc{line-height:20px !important;}

.tableList tbody tr:nth-child(odd) {
  background: #f9f9f9;
}
.formObj{display:flex;position: relative}
.formSame{width:415px}
.formSameDate{width:570px;}
.formSameButton{position: absolute; right:0;}
.entering{width:320px;}
.dateWidth{width:170px;}