<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../../static/css/private/hello.css" th:attr="href=@{../css/private/hello.css}"/>
        
    </head>
    <body>
    <div id="components-demo">
  		<button-counter></button-counter>
  		<button-counter></button-counter>
  		<button-counter></button-counter>
	</div>
	
        <script type="text/javascript" src="../../static/js/public/vue.js?v=1.0.0.1" th:attr="src=@{../js/public/vue.js?v=1.0.0.1}"></script>     
        <script type="text/javascript" src="../../static/js/private/hello.js" th:attr="src=@{../js/private/hello.js}"></script>
    </body>
</html>