<html>
    <head>
    <link rel="stylesheet" type="text/css" href="../../static/css/public/element.css?v=1.0.0.1" th:attr="href=@{/css/public/element.css?v=1.0.0.1}" />
        
    </head>
    <body>
	<div id="app">
	<el-input v-model="input" placeholder="请输入内容"></el-input>
	</div>
        <script type="text/javascript" src="../../static/js/public/vue.js?v=1.0.0.1" th:attr="src=@{../js/public/vue.js?v=1.0.0.1}"></script>     
        <script type="text/javascript" src="../../static/js/private/inputTest.js" th:attr="src=@{../js/private/inputTest.js}"></script>
    </body>
</html>