<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pcitc.sebl.helloSpringBoot.mapper.AnnounceManageMapper" >
  <resultMap id="BaseResultMap" type="com.pcitc.sebl.helloSpringBoot.entity.AnnounceManage" >
    <id column="pkId" property="pkId" jdbcType="VARCHAR" />
    <result column="noticeName" property="noticename" jdbcType="VARCHAR" />
    <result column="noticeChildCategoryID" property="noticechildcategoryid" jdbcType="INTEGER" />
    <result column="noticeParentCategoryID" property="noticeparentcategoryid" jdbcType="INTEGER" />
    <result column="publishDate" property="publishdate" jdbcType="TIMESTAMP" />
    <result column="publisher" property="publisher" jdbcType="VARCHAR" />
    <result column="expireDate" property="expiredate" jdbcType="TIMESTAMP" />
    <result column="keyword" property="keyword" jdbcType="VARCHAR" />
    <result column="viewCount" property="viewcount" jdbcType="INTEGER" />
    <result column="downloadCount" property="downloadcount" jdbcType="INTEGER" />
    <result column="attach1FileName" property="attach1filename" jdbcType="VARCHAR" />
    <result column="attach2FileName" property="attach2filename" jdbcType="VARCHAR" />
    <result column="attach3FileName" property="attach3filename" jdbcType="VARCHAR" />
    <result column="top" property="top" jdbcType="INTEGER" />
    <result column="keepShow" property="keepshow" jdbcType="INTEGER" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="fileId1" property="fileid1" jdbcType="VARCHAR" />
    <result column="fileId2" property="fileid2" jdbcType="VARCHAR" />
    <result column="fileId3" property="fileid3" jdbcType="VARCHAR" />
    <result column="create_Time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_UId" property="createUId" jdbcType="VARCHAR" />
    <result column="create_UName" property="createUName" jdbcType="VARCHAR" />
    <result column="update_UId" property="updateUId" jdbcType="VARCHAR" />
    <result column="update_UName" property="updateUName" jdbcType="VARCHAR" />
    <result column="update_Time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="dataStatus" property="dataStatus" jdbcType="INTEGER" />
    <result column="bulletin_abstract" property="bulletinAbstract" jdbcType="VARCHAR" />
    <result column="fk_contact_id" property="fkContactId" jdbcType="VARCHAR" />
    <result column="publishing_unit" property="publishingUnit" jdbcType="VARCHAR" />
    <result column="attach1FileAddress" property="attach1fileadress" jdbcType="VARCHAR" />
    <result column="attach2FileAddress" property="attach2fileadress" jdbcType="VARCHAR" />
    <result column="attach3FileAddress" property="attach3fileadress" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.pcitc.sebl.helloSpringBoot.entity.AnnounceManage" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARBINARY" />
    <result column="CategoryName" property="CategoryName" jdbcType="VARCHAR" />
    <result column="childCategoryName" property="childCategoryName" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap type="java.util.HashMap" id="CategoryResult">
				<result column="noteCategoryID" jdbcType="INTEGER" property="categoryID" />
				<result column="noteCategoryName" jdbcType="VARCHAR" property="noteCategoryName" />
  </resultMap> 

  <sql id="Base_Column_List" >
    pkId, noticeName, noticeChildCategoryID, noticeParentCategoryID, publishDate, 
    publisher, expireDate, keyword, viewCount, downloadCount, attach1FileName, attach2FileName, 
    attach3FileName, top, keepShow, level, fileId1, fileId2, fileId3, create_Time,
    create_UId,create_UName,update_UId,update_UName,update_Time,dataStatus,bulletin_abstract,
    fk_contact_id,publishing_unit,attach1FileAddress,attach2FileAddress,attach3FileAddress
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
	SELECT
	  s.*, n.noteCategoryName AS CategoryName,
	  cn.noteCategoryName AS childCategoryName
	FROM
	  t_snp_com_securitynotice s
	LEFT JOIN t_snp_com_noticecategory n ON s.noticeParentCategoryID = n.noteCategoryID
	LEFT JOIN t_snp_com_noticecategory cn ON s.noticeChildCategoryID = cn.noteCategoryID
    where S.pkId = #{pkId,jdbcType=VARCHAR}
  </select>
  
  <select id="getCategoryDetails"  resultType="java.util.Map">
		select
		s.noticeParentCategoryID,n.noteCategoryName as noteCategoryName,count(s.noticeParentCategoryID) as categotyCount
		from t_snp_com_securitynotice s,t_snp_com_noticecategory n
		<where>
			dataStatus=1 and
			s.noticeParentCategoryID=n.noteCategoryID
			<if test="flag == '1'.toString()">
				and month(publishDate) = month(curdate()) and week(publishDate) = week(curdate())
			</if>
			<if test="flag == '2'.toString()">
				and month(publishDate) = month(curdate()) and year(publishDate) = year(curdate())
			</if>
			<if test="flag == '3'.toString()">
				and year(publishDate) = year(curdate())
			</if>
		</where> 		
		group by n.noteCategoryName
	</select>
	
	<select id="findAnnounceByCatagory" resultMap="ResultMapWithBLOBs" parameterType="java.util.Map" >
	SELECT
	  s.*, n.noteCategoryName AS CategoryName,
	  cn.noteCategoryName AS childCategoryName
	FROM
	  t_snp_com_securitynotice s
	LEFT JOIN t_snp_com_noticecategory n ON s.noticeParentCategoryID = n.noteCategoryID
	LEFT JOIN t_snp_com_noticecategory cn ON s.noticeChildCategoryID = cn.noteCategoryID
    <where> 
    	dataStatus=1  
    		<if test="categoryID != null and categoryID != ''">
    			and noticeParentCategoryID=#{categoryID,jdbcType=INTEGER}
    		</if>
			<if test="flag == '1'.toString()">
				and month(publishDate) = month(curdate()) and week(publishDate) = week(curdate())
			</if>
			<if test="flag == '2'.toString()">
				and month(publishDate) = month(curdate()) and year(publishDate) = year(curdate())
			</if>
			<if test="flag == '3'.toString()">
				and year(publishDate) = year(curdate())
			</if>
	</where> 		
    order by top desc,publishDate desc
  </select>
	
	<select id="getLookThroughTop5"  resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
    	,
    	<include refid="Blob_Column_List" />
		from t_snp_com_securitynotice
		where dataStatus=1
		order by viewCount DESC
		limit 5
	</select>
	
	<select id="getAppendixDownloadTop5"  resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
    	,
    	<include refid="Blob_Column_List" />
		from t_snp_com_securitynotice
		where dataStatus=1
		order by downloadCount DESC
		limit 5
	</select>
	  
  <select id="selectQueryList" resultMap="ResultMapWithBLOBs" >
	SELECT
	  s.*, n.noteCategoryName AS CategoryName,
	  cn.noteCategoryName AS childCategoryName
	FROM
	  t_snp_com_securitynotice s
	LEFT JOIN t_snp_com_noticecategory n ON s.noticeParentCategoryID = n.noteCategoryID
	LEFT JOIN t_snp_com_noticecategory cn ON s.noticeChildCategoryID = cn.noteCategoryID
	ORDER BY
	  top DESC,
	  publishDate DESC
  </select>
  
   <select id="selectPublishQueryList" resultMap="ResultMapWithBLOBs" >
	SELECT
	  s.*, n.noteCategoryName AS CategoryName,
	  cn.noteCategoryName AS childCategoryName
	FROM
	  t_snp_com_securitynotice s
	LEFT JOIN t_snp_com_noticecategory n ON s.noticeParentCategoryID = n.noteCategoryID
	LEFT JOIN t_snp_com_noticecategory cn ON s.noticeChildCategoryID = cn.noteCategoryID
	WHERE
	  dataStatus = 1
	ORDER BY
	  top DESC,
	  publishDate DESC
  </select>
  
    <select id="selectByOthers" resultMap="ResultMapWithBLOBs" parameterType="com.pcitc.sebl.helloSpringBoot.entity.AnnounceManageQuery" >
	SELECT
	  s.*, n.noteCategoryName AS CategoryName,
	  cn.noteCategoryName AS childCategoryName
	FROM
	  t_snp_com_securitynotice s
	LEFT JOIN t_snp_com_noticecategory n ON s.noticeParentCategoryID = n.noteCategoryID
	LEFT JOIN t_snp_com_noticecategory cn ON s.noticeChildCategoryID = cn.noteCategoryID
    where S.pkId IS NOT NULL
		<if test="noticeName != null and noticeName != ''">
			AND S.noticeName Like  CONCAT('%',#{noticeName},'%')		
		</if>
		<if test="keepShow != null and keepShow != ''">
			AND S.keepShow Like  CONCAT('%',#{keepShow},'%')		
		</if>
		<if test="keyword != null and keyword != ''">
			AND S.keyword Like  CONCAT('%',#{keyword},'%')	
		</if>
		<if test="noticeChildCategoryID != null and noticeChildCategoryID != ''">
			AND S.noticeChildCategoryID Like  CONCAT('%',#{noticeChildCategoryID},'%')	
		</if>
		<if test="noticeParentCategoryID != null and noticeParentCategoryID != ''">
			AND S.noticeParentCategoryID Like  CONCAT('%',#{noticeParentCategoryID},'%')		
		</if>
		<if test="publishDate1 != null">
			AND S.publishDate &gt;= #{publishDate1}		
		</if>
		<if test="publishDate2 != null">
			AND S.publishDate &lt;= #{publishDate2}		
		</if>
		<if test="dataStatus != null and dataStatus != ''">
			AND S.dataStatus = #{dataStatus}		
		</if>
		<if test="flag == '1'.toString()">
			and month(publishDate) = month(curdate()) and week(publishDate) = week(curdate())
		</if>
		<if test="flag == '2'.toString()">
			and month(publishDate) = month(curdate()) and year(publishDate) = year(curdate())
		</if>
		<if test="flag == '3'.toString()">
			and year(publishDate) = year(curdate())
		</if>
		order by top desc,publishDate desc
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_snp_com_securitynotice
    where pkId = #{pkId,jdbcType=VARCHAR}
  </delete>
  
  <delete id="deleteAnnounceList" parameterType="com.pcitc.sebl.helloSpringBoot.entity.AnnounceManageQuery" >
    delete from t_snp_com_securitynotice
    where pkId in
    	<foreach collection="idList" item="item" index="index" separator="," open="(" close=")">  
        		 #{item}
     		</foreach>
  </delete>
  
  <insert id="insert" parameterType="com.pcitc.sebl.helloSpringBoot.entity.AnnounceManage" >
    insert into t_snp_com_securitynotice (pkId, noticeName, noticeChildCategoryID, 
      noticeParentCategoryID, publishDate, 
      publisher, expireDate, keyword, 
      viewCount, downloadCount, attach1FileName, 
      attach2FileName, attach3FileName, top, 
      keepShow, level, fileId1, 
      fileId2, fileId3, create_Time, 
      content,create_UId,create_UName,update_UId,update_UName,update_Time,dataStatus,
      bulletin_abstract,fk_contact_id,publishing_unit,attach1FileAddress,attach2FileAddress,attach3FileAddress)
    values (#{pkId,jdbcType=VARCHAR}, #{noticename,jdbcType=VARCHAR}, #{noticechildcategoryid,jdbcType=INTEGER}, 
      #{noticeparentcategoryid,jdbcType=INTEGER}, #{publishdate,jdbcType=TIMESTAMP}, 
      #{publisher,jdbcType=VARCHAR}, #{expiredate,jdbcType=TIMESTAMP}, #{keyword,jdbcType=VARCHAR}, 
      #{viewcount,jdbcType=INTEGER}, #{downloadcount,jdbcType=INTEGER}, #{attach1filename,jdbcType=VARCHAR}, 
      #{attach2filename,jdbcType=VARCHAR}, #{attach3filename,jdbcType=VARCHAR}, #{top,jdbcType=INTEGER}, 
      #{keepshow,jdbcType=INTEGER}, #{level,jdbcType=INTEGER}, #{fileid1,jdbcType=VARCHAR}, 
      #{fileid2,jdbcType=VARCHAR}, #{fileid3,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{content,jdbcType=LONGVARBINARY},#{createUId,jdbcType=VARCHAR},#{createUName,jdbcType=VARCHAR},
      #{updateUId,jdbcType=VARCHAR},#{updateUName,jdbcType=VARCHAR},#{updateTime,jdbcType=VARCHAR},#{dataStatus,jdbcType=INTEGER},
      #{bulletinAbstract,jdbcType=VARCHAR},#{fkContactId,jdbcType=VARCHAR},#{publishingUnit,jdbcType=VARCHAR},
      #{attach1fileadress,jdbcType=VARCHAR}, #{attach2fileadress,jdbcType=VARCHAR}, #{attach3fileadress,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pcitc.sebl.helloSpringBoot.entity.AnnounceManage" >
    insert into t_snp_com_securitynotice
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkId != null" >
        pkId,
      </if>
      <if test="noticename != null" >
        noticeName,
      </if>
      <if test="noticechildcategoryid != null" >
        noticeChildCategoryID,
      </if>
      <if test="noticeparentcategoryid != null" >
        noticeParentCategoryID,
      </if>
      <if test="publishdate != null" >
        publishDate,
      </if>
      <if test="publisher != null" >
        publisher,
      </if>
      <if test="expiredate != null" >
        expireDate,
      </if>
      <if test="keyword != null" >
        keyword,
      </if>
      <if test="viewcount != null" >
        viewCount,
      </if>
      <if test="downloadcount != null" >
        downloadCount,
      </if>
      <if test="attach1filename != null" >
        attach1FileName,
      </if>
      <if test="attach2filename != null" >
        attach2FileName,
      </if>
      <if test="attach3filename != null" >
        attach3FileName,
      </if>
      <if test="top != null" >
        top,
      </if>
      <if test="keepshow != null" >
        keepShow,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="fileid1 != null" >
        fileId1,
      </if>
      <if test="fileid2 != null" >
        fileId2,
      </if>
      <if test="fileid3 != null" >
        fileId3,
      </if>
      <if test="createTime != null" >
        create_Time,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="createUId != null" >
        create_UId,
      </if>
      
      <if test="createUName != null" >
        create_UName,
      </if>
      <if test="updateUId != null" >
        update_UId,
      </if>
      <if test="updateUName != null" >
        update_UName,
      </if>
      <if test="updateTime != null" >
        update_Time,
      </if>
      <if test="dataStatus != null" >
        dataStatus,
      </if>
      <if test="bulletinAbstract != null" >
        bulletin_abstract,
      </if>
      <if test="fkContactId != null" >
        fk_contact_id,
      </if>
      <if test="publishingUnit != null" >
        publishing_unit,
      </if>
       <if test="attach1fileadress != null" >
        attach1FileAddress,
      </if>
      <if test="attach2fileadress != null" >
        attach2FileAddress,
      </if>
      <if test="attach3fileadress != null" >
        attach3FileAddress,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkId != null" >
        #{pkId,jdbcType=VARCHAR},
      </if>
      <if test="noticename != null" >
        #{noticename,jdbcType=VARCHAR},
      </if>
      <if test="noticechildcategoryid != null" >
        #{noticechildcategoryid,jdbcType=INTEGER},
      </if>
      <if test="noticeparentcategoryid != null" >
        #{noticeparentcategoryid,jdbcType=INTEGER},
      </if>
      <if test="publishdate != null" >
        #{publishdate,jdbcType=TIMESTAMP},
      </if>
      <if test="publisher != null" >
        #{publisher,jdbcType=VARCHAR},
      </if>
      <if test="expiredate != null" >
        #{expiredate,jdbcType=TIMESTAMP},
      </if>
      <if test="keyword != null" >
        #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="viewcount != null" >
        #{viewcount,jdbcType=INTEGER},
      </if>
      <if test="downloadcount != null" >
        #{downloadcount,jdbcType=INTEGER},
      </if>
      <if test="attach1filename != null" >
        #{attach1filename,jdbcType=VARCHAR},
      </if>
      <if test="attach2filename != null" >
        #{attach2filename,jdbcType=VARCHAR},
      </if>
      <if test="attach3filename != null" >
        #{attach3filename,jdbcType=VARCHAR},
      </if>
      <if test="top != null" >
        #{top,jdbcType=INTEGER},
      </if>
      <if test="keepshow != null" >
        #{keepshow,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="fileid1 != null" >
        #{fileid1,jdbcType=VARCHAR},
      </if>
      <if test="fileid2 != null" >
        #{fileid2,jdbcType=VARCHAR},
      </if>
      <if test="fileid3 != null" >
        #{fileid3,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARBINARY},
      </if>     
      <if test="createUId != null" >
        #{createUId,jdbcType=VARCHAR},
      </if>
      
      <if test="createUName != null" >
        #{createUName,jdbcType=VARCHAR},
      </if>
      <if test="updateUId != null" >
        #{updateUId,jdbcType=VARCHAR},
      </if>
      <if test="updateUName != null" >
        #{updateUName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dataStatus != null" >
        #{dataStatus,jdbcType=INTEGER},
      </if>
       <if test="bulletinAbstract != null" >
        #{bulletinAbstract,jdbcType=VARCHAR},
      </if>
       <if test="fkContactId != null" >
        #{fkContactId,jdbcType=VARCHAR},
      </if>
       <if test="publishingUnit != null" >
        #{publishingUnit,jdbcType=VARCHAR},
      </if>
       <if test="attach1fileadress != null" >
        #{attach1fileadress,jdbcType=VARCHAR},
      </if>
      <if test="attach2fileadress != null" >
        #{attach2fileadress,jdbcType=VARCHAR},
      </if>
      <if test="attach3fileadress != null" >
        #{attach3fileadress,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pcitc.sebl.helloSpringBoot.entity.AnnounceManage" >
    update t_snp_com_securitynotice
    <set >
      <if test="noticename != null" >
        noticeName = #{noticename,jdbcType=VARCHAR},
      </if>
      <if test="noticechildcategoryid != null" >
        noticeChildCategoryID = #{noticechildcategoryid,jdbcType=INTEGER},
      </if>
      <if test="noticeparentcategoryid != null" >
        noticeParentCategoryID = #{noticeparentcategoryid,jdbcType=INTEGER},
      </if>
      <if test="publishdate != null" >
        publishDate = #{publishdate,jdbcType=TIMESTAMP},
      </if>
      <if test="publisher != null" >
        publisher = #{publisher,jdbcType=VARCHAR},
      </if>
      <if test="expiredate != null" >
        expireDate = #{expiredate,jdbcType=TIMESTAMP},
      </if>
      <if test="keyword != null" >
        keyword = #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="viewcount != null" >
        viewCount = #{viewcount,jdbcType=INTEGER},
      </if>
      <if test="downloadcount != null" >
        downloadCount = #{downloadcount,jdbcType=INTEGER},
      </if>
      <if test="attach1filename != null" >
        attach1FileName = #{attach1filename,jdbcType=VARCHAR},
      </if>
      <if test="attach2filename != null" >
        attach2FileName = #{attach2filename,jdbcType=VARCHAR},
      </if>
      <if test="attach3filename != null" >
        attach3FileName = #{attach3filename,jdbcType=VARCHAR},
      </if>
      <if test="top != null" >
        top = #{top,jdbcType=INTEGER},
      </if>
      <if test="keepshow != null" >
        keepShow = #{keepshow,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="fileid1 != null" >
        fileId1 = #{fileid1,jdbcType=VARCHAR},
      </if>
      <if test="fileid2 != null" >
        fileId2 = #{fileid2,jdbcType=VARCHAR},
      </if>
      <if test="fileid3 != null" >
        fileId3 = #{fileid3,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_Time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARBINARY},
      </if>
      <if test="createUId != null" >
       create_UId = #{createUId,jdbcType=VARCHAR},
      </if>
      
      <if test="createUName != null" >
        create_UName = #{createUName,jdbcType=VARCHAR},
      </if>
      <if test="updateUId != null" >
        update_UId = #{updateUId,jdbcType=VARCHAR},
      </if>
      <if test="updateUName != null" >
        update_UName = #{updateUName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_Time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dataStatus != null" >
        dataStatus = #{dataStatus,jdbcType=INTEGER},
      </if>
      <if test="bulletinAbstract != null" >
        bulletin_abstract = #{bulletinAbstract,jdbcType=VARCHAR},
      </if>
      <if test="fkContactId != null" >
        fk_contact_id = #{fkContactId,jdbcType=VARCHAR},
      </if>
      <if test="publishingUnit != null" >
        publishing_unit = #{publishingUnit,jdbcType=VARCHAR},
      </if>
      <if test="attach1fileadress != null" >
        attach1FileAddress = #{attach1fileadress,jdbcType=VARCHAR},
      </if>
      <if test="attach2fileadress != null" >
        attach2FileAddress = #{attach2fileadress,jdbcType=VARCHAR},
      </if>
      <if test="attach3fileadress != null" >
        attach3FileAddress = #{attach3fileadress,jdbcType=VARCHAR},
      </if>
      
    </set>
    where pkId = #{pkId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pcitc.sebl.helloSpringBoot.entity.AnnounceManage" >
    update t_snp_com_securitynotice
    set noticeName = #{noticename,jdbcType=VARCHAR},
      noticeChildCategoryID = #{noticechildcategoryid,jdbcType=INTEGER},
      noticeParentCategoryID = #{noticeparentcategoryid,jdbcType=INTEGER},
      publishDate = #{publishdate,jdbcType=TIMESTAMP},
      publisher = #{publisher,jdbcType=VARCHAR},
      expireDate = #{expiredate,jdbcType=TIMESTAMP},
      keyword = #{keyword,jdbcType=VARCHAR},
      viewCount = #{viewcount,jdbcType=INTEGER},
      downloadCount = #{downloadcount,jdbcType=INTEGER},
      attach1FileName = #{attach1filename,jdbcType=VARCHAR},
      attach2FileName = #{attach2filename,jdbcType=VARCHAR},
      attach3FileName = #{attach3filename,jdbcType=VARCHAR},
      top = #{top,jdbcType=INTEGER},
      keepShow = #{keepshow,jdbcType=INTEGER},
      level = #{level,jdbcType=INTEGER},
      fileId1 = #{fileid1,jdbcType=VARCHAR},
      fileId2 = #{fileid2,jdbcType=VARCHAR},
      fileId3 = #{fileid3,jdbcType=VARCHAR},
      create_Time = #{createTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARBINARY},
      create_UId = #{createUId,jdbcType=VARCHAR},
      create_UName = #{createUName,jdbcType=VARCHAR},
      update_UId = #{updateUId,jdbcType=VARCHAR},
      update_UName = #{updateUName,jdbcType=VARCHAR},
      update_Time = #{updateTime,jdbcType=TIMESTAMP},
      dataStatus = #{dataStatus,jdbcType=INTEGER},
      bulletin_abstract = #{bulletinAbstract,jdbcType=VARCHAR},
      fk_contact_id = #{fkContactId,jdbcType=VARCHAR},
      publishing_unit = #{publishingUnit,jdbcType=VARCHAR},
      attach1FileAddress = #{attach1fileadress,jdbcType=VARCHAR},
      attach2FileAddress = #{attach2fileadress,jdbcType=VARCHAR},
      attach3FileAddress = #{attach3fileadress,jdbcType=VARCHAR} 
            
    where pkId = #{pkId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pcitc.sebl.helloSpringBoot.entity.AnnounceManage" >
    update t_snp_com_securitynotice
    set noticeName = #{noticename,jdbcType=VARCHAR},
      noticeChildCategoryID = #{noticechildcategoryid,jdbcType=INTEGER},
      noticeParentCategoryID = #{noticeparentcategoryid,jdbcType=INTEGER},
      publishDate = #{publishdate,jdbcType=TIMESTAMP},
      publisher = #{publisher,jdbcType=VARCHAR},
      expireDate = #{expiredate,jdbcType=TIMESTAMP},
      keyword = #{keyword,jdbcType=VARCHAR},
      viewCount = #{viewcount,jdbcType=INTEGER},
      downloadCount = #{downloadcount,jdbcType=INTEGER},
      attach1FileName = #{attach1filename,jdbcType=VARCHAR},
      attach2FileName = #{attach2filename,jdbcType=VARCHAR},
      attach3FileName = #{attach3filename,jdbcType=VARCHAR},
      top = #{top,jdbcType=INTEGER},
      keepShow = #{keepshow,jdbcType=INTEGER},
      level = #{level,jdbcType=INTEGER},
      fileId1 = #{fileid1,jdbcType=VARCHAR},
      fileId2 = #{fileid2,jdbcType=VARCHAR},
      fileId3 = #{fileid3,jdbcType=VARCHAR},
      create_Time = #{createTime,jdbcType=TIMESTAMP},
      create_UId = #{createUId,jdbcType=VARCHAR},
      create_UName = #{createUName,jdbcType=VARCHAR},
      update_UId = #{updateUId,jdbcType=VARCHAR},
      update_UName = #{updateUName,jdbcType=VARCHAR},
      update_Time = #{updateTime,jdbcType=TIMESTAMP},
      dataStatus = #{dataStatus,jdbcType=INTEGER},
      bulletin_abstract = #{bulletinAbstract,jdbcType=VARCHAR},
      fk_contact_id = #{fkContactId,jdbcType=VARCHAR},
      publishing_unit = #{publishingUnit,jdbcType=VARCHAR},
      attach1FileAddress = #{attach1fileadress,jdbcType=VARCHAR},
      attach2FileAddress = #{attach2fileadress,jdbcType=VARCHAR},
      attach3FileAddress = #{attach3fileadress,jdbcType=VARCHAR} 
      
    where pkId = #{pkId,jdbcType=VARCHAR}
  </update>
  
   <update id="batchTopping" parameterType="com.pcitc.sebl.helloSpringBoot.entity.AnnounceManageQuery" >
    update t_snp_com_securitynotice
    set top = #{top,jdbcType=VARCHAR}
    where  pkId in
    	<foreach collection="idList" item="item" index="index" separator="," open="(" close=")">  
        		 #{item}
     		</foreach>
  </update>
  	
	 <select id="findCategory"  resultMap="CategoryResult">
		select
		noteCategoryID,noteCategoryName
		from  t_snp_com_noticecategory
		where parentID=0
		group by noteCategoryName
		ORDER BY noteCategoryID
	</select>
	<select id="findChildCategory"  parameterType="java.lang.Integer" resultMap="CategoryResult">
		select
		noteCategoryID,noteCategoryName
		from  t_snp_com_noticecategory
		where parentID=#{categoryID,jdbcType=INTEGER}
		group by noteCategoryName
		order by noteCategoryID
	</select>
	  		
   	<select id="findVagueCategory"  parameterType="String" resultMap="CategoryResult">
				select
				noteCategoryID,noteCategoryName
				from t_snp_com_noticecategory
				where noteCategoryName Like  CONCAT('%',#{category},'%')
					and parentID=0
				group by noteCategoryName
				order by noteCategoryID
	</select>
	<select id="findVagueChildCategory"  parameterType="java.util.Map" resultMap="CategoryResult">
				select
				noteCategoryID,noteCategoryName
				from t_snp_com_noticecategory
				where noteCategoryName Like  CONCAT('%',#{childCategory},'%')
					and parentID=#{CategoryID,jdbcType=INTEGER}
				group by noteCategoryName
				order by noteCategoryID
	</select>
</mapper>