<!DOCTYPE html>
<html>

<head>
<link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../../static/css/public/reset.css?v=1.0.0.0" th:attr="href=@{/css/public/reset.css?v=1.0.0.0}">
    <link rel="stylesheet" type="text/css" href="../../static/css/public/common.css?v=1.0.0.0" th:attr="href=@{/css/public/common.css?v=1.0.0.0}">
    <link rel="stylesheet" type="text/css" href="../../static/css/public/element.css?v=1.0.0.1" th:attr="href=@{/css/public/element.css?v=1.0.0.1}" />
    <link rel="stylesheet" type="text/css" href="../../static/css/public/swiper-4.2.2.min.css?v=4.2.2.1" th:attr="href=@{/css/public/swiper-4.2.2.min.css?v=4.2.2.1}">
	<link rel="stylesheet" type="text/css" href="../../static/css/public/animate.min.css?v=1.0.0.1" th:attr="href=@{/css/public/animate.min.css?v=1.0.0.1}" />
	<link rel="stylesheet" type="text/css" href="../../static/css/public/smcc-styles.css?v=1.0.0.0" th:attr="href=@{/css/public/smcc-styles.css?v=1.0.0.0}" />    
    <link rel="stylesheet" type="text/css" href="../../static/css/public/smcc-footer.css?v=1.0.1.0" th:attr="href=@{/css/public/smcc-footer.css?v=1.0.1.0}" />

	<link rel="stylesheet" type="text/css" href="../../static/css/public/jc-breadcrumb.css?v=1.0.0.0" th:attr="href=@{/css/public/jc-breadcrumb.css?v=1.0.0.0}" />
	<link rel="stylesheet" type="text/css" href="../../static/css/public/font-awesome.css?v=1.0.0.1" th:attr="href=@{/css/public/font-awesome.css?v=1.0.0.1}" />
<link rel="stylesheet" type="text/css" href="../../static/css/private/safetyBulletin.css" th:attr="href=@{/css/private/safetyBulletin.css}"/>
    <style></style>
  </head>

	<body>
<div id="bulletinList" v-cloak>
<div class="content">

<div class="navigationTitle">
	<span>首页 > 信息安全管理 > 通报管理 > 安全公告 {{linkName ? '> '+linkName : '' }}</span>
    <div class="callUrl">
    <button class="btnSame btnSmall btnCancel"  type="button" onclick="location.href='securityBulletinList'">返回</button>
  </div> 
</div>


<!--filterCont-->
      <div class="filterCont">
         <el-form ref="form" :model="formData" label-width="90px">
             <div class="formObj">
                <div class="formSame"> 
                   <el-form-item label="公告名称:">
                            <el-input v-model="formData.bulletinName" clearable placeholder="请输入公告名称" class="entering">
                            </el-input>
                  </el-form-item>
                </div>

                <div class="formSameDate"> 
                  <el-form-item label="发布时间:">
                   <div class="queryDate">
                       <div class="queryDateSame">
                      <el-date-picker class="dateIonicVB dateWidth" prefix-icon="dateIonic" type="date" clearable placeholder="选择日期" v-model="formData.timeStart"></el-date-picker>
                       </div>
                   <div class="reachLine">到</div>
                      <div class="queryDateSame">
                         <el-date-picker class="dateIonicVB dateWidth" prefix-icon="dateIonic" type="date" clearable placeholder="选择日期" v-model="formData.timeEnd"
                         @change="timeEnd"
                         :picker-options="pickerOptions0">
                       </el-date-picker>
                       </div>
                    </div>
                  </el-form-item>
                </div>

        <div class="formSameButton"> 
    <p style="float:right; margin-top:3px">
      <button type="button" class="btnSame btnSmall btnCancel"  @click="generalQuery" >查询</button>
      <button type="button" class="btnSame btnBig btnBlue" @click="advancedQuery">
      高级查询
      <i></i>
    </button> 
      <button type="button" class="btnSame btnSmall btnCancel" @click="reset">清空</button> 
      </p> 
   </div>
                </div>
 <div class="formObj">
  <div class="formSame"> 
      <el-form-item label="类别:">
    <el-select class="selectInput removeCalss entering" v-model="formData.category" clearable disabled placeholder="请选择"  @change="findCategoryEvent" >
      <el-option
      v-for="(item,index) in genreList"
      :key="index"
      :label="item.noteCategoryName"
      :value="item.categoryID">
    </el-option>
    </el-select>
  </el-form-item>
    </div>

    <div class="formSame"> 
      <el-form-item label="子类别:">
    <el-select class="selectInput removeCalss entering" v-model="formData.subcategory" clearable placeholder="请选择" @change="subcategoryEvent" >
      <el-option
      v-for="(item,index) in findChildList"
      :key="index"
      :label="item.noteCategoryName"
      :value="item.categoryID">
    </el-option>
    </el-select>
  </el-form-item>
</div>
</div>
    
    <div  v-show="subcategory" style="background-color:#f8f8f8; width:100%; padding:15px 0">
            <el-form-item label="关键字:"  >
                <el-input v-model="formData.keyword"  clearable  placeholder="请输入关键字" class="entering" ></el-input>
             </el-form-item>
      </div>
         </el-form>
      </div>
      <!--filterCont-->

<div class="bulletinLlist">
  <div class="noticeTitle">
            <div class="noticeTitleLeft">
              <p><i></i><span>安全公告列表</span></p>
            </div>
      </div>
  <div class="bulletinLlistCont">
    <div class="tableList">
 <template>
  <el-table
    border
    :data="bulletinList"
    style="width: 100%" @header-dragend="headerDragend">
    <el-table-column
      label="序号"
      width="50"
      >
      <template slot-scope="scope">
      {{scope.$index+1+pageSizeNow*(currPageNow-1)}}
     </template>
    </el-table-column>
    <el-table-column
      label="公告名称"
      prop="noticename"
      sortable
     >
     <template slot-scope="scope">
     <p class="cellAll">
       <a class="hoverALink" :href="'announcementDetails?pkId='+scope.row.pkId">{{scope.row.noticename}}</a>
       </p>
     </template>
    </el-table-column>
    <el-table-column
      prop="categoryName"
      label="类别"
      sortable
      >
    </el-table-column>
    <el-table-column
      prop="childCategoryName"
      label="子类别"
      sortable
      >
    </el-table-column>

     <el-table-column
      prop="keyword"
      label="关键字"
      sortable
      >
    </el-table-column>

    <el-table-column
      label="发布时间"
      prop="publishdate"
      sortable
      >
       <template slot-scope="scope">
          <p><span>{{transformDate(scope.row.publishdate).yearText}}</span>
                          <span  style="padding-left:10px" >{{transformDate(scope.row.publishdate).timeText}}</span>
                </p>
      </template>
    </el-table-column>
  </el-table>
</template>
</div>
<div class="bulletinContBottom">
          <el-row>
                  <el-col :span="14">
                     <!-- <p class="outLine">显示{{totalStart}}到{{totalEnd}}行共{{totalCount}}行</p> -->
                     <div class="outLine" >
                     显示
                     <div class="outlineCont" style="width:80px; display:inline-block">
                     <el-select @change="outLineChange" width="100%" v-model="outLineText">
                      <el-option
                        v-for="item in outLineArr"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                       </el-option>
                    </el-select>
                    </div>
                    行,
                     共{{totalCount}}行记录
                  </div>
                  </el-col>
                  <el-col :span="10"> 
                    <el-pagination style="float:right" background layout="prev, pager,next,slot,jumper" :total="totalCount" prev-text="上一页" next-text="下一页" :pager-count="5"  @current-change="currentChange" :current-page.sync="currentPage" :page-size="outLineText">
                      <span class="totalNumber">共{{Math.ceil(totalCount/outLineText)}}页 , </span>
                    </el-pagination>

                  </el-col>
             </el-row>
         </div>
  </div>
</div>
</div>
</div>

<script id="src-qianhou" data-src="../../static" th:attr="data-src=@{../}"></script>
<div>
	<script type="text/javascript" src="../../static/js/public/es6-promise.auto.js?v=1.0.0.1" th:attr="src=@{/js/public/es6-promise.auto.js?v=1.0.0.1}"></script>
    <script type="text/javascript" src="../../static/js/public/jquery.min.js?v=1.0.0.1" th:attr="src=@{/js/public/jquery.min.js?v=1.0.0.1}"></script>
    <script type="text/javascript" src="../../static/js/public/jquery.cookie.js?v=1.0.0.1" th:attr="src=@{/js/public/jquery.cookie.js?v=1.0.0.1}"></script>
    <script type="text/javascript" src="../../static/js/public/getdata.js?v=1.0.0.0" th:attr="src=@{/js/public/getdata.js?v=1.0.0.0}"></script>
    <script type="text/javascript" src="../../static/js/public/vue.js?v=1.0.0.1" th:attr="src=@{/js/public/vue.js?v=1.0.0.1}"></script>
    <script type="text/javascript" src="../../static/js/public/PublicFunction.js?v=1.0.0.0" th:attr="src=@{/js/public/PublicFunction.js?v=1.0.0.0}"></script>
    <script type="text/javascript" src="../../static/js/public/element.js?v=1.0.0.1" th:attr="src=@{/js/public/element.js?v=1.0.0.1}"></script>
     	
    <!-- 组件 pulic（公用）private（私有）-->
    <script src="../../static/compents/public/smcc-footer/smcc-footer.js" th:attr="src=@{/compents/public/smcc-footer/smcc-footer.js}"></script>
    <script src="../../static/compents/public/smcc-breadcrumb/smcc-breadcrumb.js?v=1.0.0.0" th:attr="src=@{/compents/public/smcc-breadcrumb/smcc-breadcrumb.js?v=1.0.0.0}"></script>
    <script type="text/javascript" src="../../static/compents/public/smcc-compents.js" th:attr="src=@{/compents/public/smcc-compents.js}"></script>
      <script  type="text/javascript" src="../../static/js/private/safetyBulletin/bulletinList.js" th:attr="src=@{/js/private/safetyBulletin/bulletinList.js}"></script>
</div>
	</body>
</html>