<!DOCTYPE html>
<html>
<head>
<link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../../static/css/public/reset.css?v=1.0.0.0" th:attr="href=@{/css/public/reset.css?v=1.0.0.0}">
    <link rel="stylesheet" type="text/css" href="../../static/css/public/common.css?v=1.0.0.0" th:attr="href=@{/css/public/common.css?v=1.0.0.0}">
    <link rel="stylesheet" type="text/css" href="../../static/css/public/element.css?v=1.0.0.1" th:attr="href=@{/css/public/element.css?v=1.0.0.1}" />
    <link rel="stylesheet" type="text/css" href="../../static/css/public/swiper-4.2.2.min.css?v=4.2.2.1" th:attr="href=@{/css/public/swiper-4.2.2.min.css?v=4.2.2.1}">
	<link rel="stylesheet" type="text/css" href="../../static/css/public/animate.min.css?v=1.0.0.1" th:attr="href=@{/css/public/animate.min.css?v=1.0.0.1}" />
	<link rel="stylesheet" type="text/css" href="../../static/css/public/smcc-styles.css?v=1.0.0.0" th:attr="href=@{/css/public/smcc-styles.css?v=1.0.0.0}" />    
    <link rel="stylesheet" type="text/css" href="../../static/css/public/smcc-footer.css?v=1.0.1.0" th:attr="href=@{/css/public/smcc-footer.css?v=1.0.1.0}" />

	<link rel="stylesheet" type="text/css" href="../../static/css/public/jc-breadcrumb.css?v=1.0.0.0" th:attr="href=@{/css/public/jc-breadcrumb.css?v=1.0.0.0}" />
	<link rel="stylesheet" type="text/css" href="../../static/css/public/font-awesome.css?v=1.0.0.1" th:attr="href=@{/css/public/font-awesome.css?v=1.0.0.1}" />
<link rel="stylesheet" type="text/css" href="../../static/css/private/safetyBulletin.css" th:attr="href=@{/css/private/safetyBulletin.css}"/>
    <style></style>
  </head>
  <body>
<div id="managementDetails" v-cloak>
<div class="content">

<div class="navigationTitle">
  <span>首页 > 信息安全管理 > 通报管理 > 安全公告 > {{contObj.noticename}}</span>
  <div class="callUrl">
    <button class="btnSame btnSmall btnCancel" type="button" onclick="history.go(-1); return fasle">返回</button>
  </div> 
</div>


<div class="announcementCont">
  <div class="noticeTitle">
            <div class="noticeTitleLeft">
              <p><i></i><span>查看公告详情</span></p>
            </div>
      </div>
  
  <div class="managementBulletinBady">

<div class="managementBulletinCont">
  <el-row>
  <el-col :span="19"><label class="labeText">公告名称：</label> {{contObj.noticename}} </el-col>
  <el-col :span="5"><label class="labeText">发布单位：</label> {{contObj.publishingUnit}} </el-col>
</el-row>
</div>

<div class="managementBulletinCont">
  <el-row>
  <el-col :span="19"><label class="labeText">类别：</label> {{contObj.categoryName}} </el-col>
  <el-col :span="5"><label class="labeText">子类别：</label>  {{contObj.childCategoryName}}  </el-col>
</el-row>
</div>

<div class="managementBulletinCont">
  <el-row>
  <el-col :span="19"><label class="labeText">发布时间：</label> {{transformDate(contObj.publishdate).yearText}} 
         <span style="padding-left:10px">{{transformDate(contObj.publishdate).timeText}}</span>
   </el-col>
  <el-col :span="5"><label class="labeText">发布人：</label>  {{contObj.publisher}}  </el-col>
</el-row>
</div>


<div class="managementBulletinCont">
  <el-row>
  <el-col :span="19"><label class="labeText">是否过期： </label>  
 <span v-if="contObj.keepshow=='1'">未过期</span>
 <span v-else-if="expiredateFun(contObj.expiredate)">未过期</span>
 <span v-else>已过期</span>
</el-col>
  <el-col :span="5"><label class="labeText">过期时间：</label>
    <span v-if="(contObj.keepshow=='0' && contObj.expiredate)" >
   {{transformDate(contObj.expiredate).yearText}}
   </span>
    <span v-else-if="contObj.keepshow=='1'">永不过期</span>
</el-col>
</el-row>
</div>

<div class="managementBulletinCont">
  <el-row>
    <el-col :span="5"><label class="labeText">关键字：</label>{{contObj.keyword}}</el-col> 
</el-row>
</div>

<div style="color: #666;margin-bottom: 30px;overflow: hidden;">
  <p style="float:left;"><label class="labeText">公告内容：</label> </p>
  <div class="managementBulletinEncoder" v-html="contObj.encoder"></div>
</div>

<div class="managementBulletinCont">
    <el-row>
    <el-col :span="19"><label class="labeText">浏览次数：</label>{{contObj.viewcount}}</el-col> 
    <el-col :span="5"><label class="labeText">下载次数：</label>{{contObj.downloadcount}}</el-col> 
</el-row>  
</div>



<div class="managementBulletinCont managementBulletinContImg">
  <p><label class="labeText">附件：</label>
    <a :href="'/sebl/seblfile/downMongoFile?id='+contObj.fileid1">
          <img v-if="contObj.attach1filename"  src="/imgs/safetyBulletin/fileLoad.png" alt="">
          <span>{{contObj.attach1filename}}</span>
          </a>
          <a :href="'/sebl/seblfile/downMongoFile?id='+contObj.fileid2">
           <img v-if="contObj.attach2filename" src="/imgs/safetyBulletin/fileLoad.png" alt="">
           <span>{{contObj.attach2filename}}</span>
         </a>
          <a :href="'/sebl/seblfile/downMongoFile?id='+contObj.fileid3">
          <img  v-if="contObj.attach3filename" src="/imgs/safetyBulletin/fileLoad.png" alt="">
        <span>{{contObj.attach3filename}}</span>
       </a>
  </p>
</div>



   </div>
</div>
</div>
</div>
<script id="src-qianhou" data-src="../../static" th:attr="data-src=@{../}"></script>
<div>
	<script type="text/javascript" src="../../static/js/public/es6-promise.auto.js?v=1.0.0.1" th:attr="src=@{/js/public/es6-promise.auto.js?v=1.0.0.1}"></script>
    <script type="text/javascript" src="../../static/js/public/jquery.min.js?v=1.0.0.1" th:attr="src=@{/js/public/jquery.min.js?v=1.0.0.1}"></script>
    <script type="text/javascript" src="../../static/js/public/jquery.cookie.js?v=1.0.0.1" th:attr="src=@{/js/public/jquery.cookie.js?v=1.0.0.1}"></script>
    <script type="text/javascript" src="../../static/js/public/getdata.js?v=1.0.0.0" th:attr="src=@{/js/public/getdata.js?v=1.0.0.0}"></script>
    <script type="text/javascript" src="../../static/js/public/vue.js?v=1.0.0.1" th:attr="src=@{/js/public/vue.js?v=1.0.0.1}"></script>
    <script type="text/javascript" src="../../static/js/public/PublicFunction.js?v=1.0.0.0" th:attr="src=@{/js/public/PublicFunction.js?v=1.0.0.0}"></script>
    <script type="text/javascript" src="../../static/js/public/element.js?v=1.0.0.1" th:attr="src=@{/js/public/element.js?v=1.0.0.1}"></script>
     	
    <!-- 组件 pulic（公用）private（私有）-->
    <script src="../../static/compents/public/smcc-footer/smcc-footer.js" th:attr="src=@{/compents/public/smcc-footer/smcc-footer.js}"></script>
    <script src="../../static/compents/public/smcc-breadcrumb/smcc-breadcrumb.js?v=1.0.0.0" th:attr="src=@{/compents/public/smcc-breadcrumb/smcc-breadcrumb.js?v=1.0.0.0}"></script>
    <script type="text/javascript" src="../../static/compents/public/smcc-compents.js" th:attr="src=@{/compents/public/smcc-compents.js}"></script>
	<script  type="text/javascript" src="../../static/js/private/safetyBulletin/managementDetails.js" th:attr="src=@{/js/private/safetyBulletin/managementDetails.js}"></script>
</div>
  </body>
</html>