<!DOCTYPE html>
<html>
	<head>
	<link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../../static/css/public/reset.css?v=1.0.0.0" th:attr="href=@{/css/public/reset.css?v=1.0.0.0}">
    <link rel="stylesheet" type="text/css" href="../../static/css/public/common.css?v=1.0.0.0" th:attr="href=@{/css/public/common.css?v=1.0.0.0}">
    <link rel="stylesheet" type="text/css" href="../../static/css/public/element.css?v=1.0.0.1" th:attr="href=@{/css/public/element.css?v=1.0.0.1}" />
    <link rel="stylesheet" type="text/css" href="../../static/css/public/swiper-4.2.2.min.css?v=4.2.2.1" th:attr="href=@{/css/public/swiper-4.2.2.min.css?v=4.2.2.1}">
	<link rel="stylesheet" type="text/css" href="../../static/css/public/animate.min.css?v=1.0.0.1" th:attr="href=@{/css/public/animate.min.css?v=1.0.0.1}" />
	<link rel="stylesheet" type="text/css" href="../../static/css/public/smcc-styles.css?v=1.0.0.0" th:attr="href=@{/css/public/smcc-styles.css?v=1.0.0.0}" />
    
    <link rel="stylesheet" type="text/css" href="../../static/css/public/smcc-footer.css?v=1.0.1.0" th:attr="href=@{/css/public/smcc-footer.css?v=1.0.1.0}" />

	<link rel="stylesheet" type="text/css" href="../../static/css/public/jc-breadcrumb.css?v=1.0.0.0" th:attr="href=@{/css/public/jc-breadcrumb.css?v=1.0.0.0}" />
	<link rel="stylesheet" type="text/css" href="../../static/css/public/font-awesome.css?v=1.0.0.1" th:attr="href=@{/css/public/font-awesome.css?v=1.0.0.1}" />
  <link rel="stylesheet" type="text/css" href="../../static/css/private/safetyBulletin.css" th:attr="href=@{/css/private/safetyBulletin.css}"/>
  <style></style>
	</head>

	<body style="padding-bottom:50px">
<div id="newAnnouncement" v-cloak>

 <el-dialog
 :show-close="false"
 title="预览"
 :visible.sync="dialogVisible"
 custom-class="dialogVisibleDialog"
 class="aet"
 >
  <i  @click="dialogVisibleRemove" class="dialogVisibleRemove"></i>
  
  <div class="dialogVisible">
    <div class="dialogVisibleTop">
        <h1>{{previewObj.noticename}}</h1>
        <div class="dialogVisibleCont">
        <div class="releaseCont">
                <span>
                  <b>发布人：</b>{{previewObj.publisher}}
                </span>
                <span>
                  <b>发布单位：</b>{{previewObj.publishingUnit}}
                </span>
                <span>
                  <b>发布时间：</b>
                </span>
              </div>
        </div>
    </div>
    <div class="setWoll">
      <div class="setWollCont">
    <p style="padding-top:20px"><b style="font-size:14px">正文</b></p>
    <div class="dialogVisibleBtm" v-html="previewObj.encoder">
    </div> 
    </div> 
    </div>
    <div class="dialogVisibleFooter">
       <div class="setWollCont">
     <!-- <p>关键字:{{previewObj.keyword}}</p>
      <p>类别:{{previewObj.categoryName}}</p>
      <p>子类别:{{previewObj.childCategoryName}}</p> -->
      <p><b style="font-size:14px">附件：</b>
       <a :href="'/sebl/seblfile/downMongoFile?id='+previewObj.fileid1">
         <img v-if="previewObj.attach1filename"  src="/imgs/safetyBulletin/fileLoad.png" alt="">
         <span>{{previewObj.attach1filename}}</span>
         </a>
         <a :href="'/sebl/seblfile/downMongoFile?id='+previewObj.fileid2">
          <img v-if="previewObj.attach2filename" src="/imgs/safetyBulletin/fileLoad.png" alt="">
          <span>{{previewObj.attach2filename}}</span>
        </a>
         <a :href="'/sebl/seblfile/downMongoFile?id='+previewObj.fileid3">
         <img v-if="previewObj.attach3filename" src="/imgs/safetyBulletin/fileLoad.png" alt="">
       <span>{{previewObj.attach3filename}}</span>
      </a>
       </p>
    </div>
  </div>
  </div>
</el-dialog> 


<div class="content">

<div class="navigationTitle">
 <div class="sameNavigationLeft">
	首页 > 信息安全管理 > 通报管理 > 安全公告 > 新增公告
  </div>
  <div class="callUrl">

       <button type="button"  @click="releaseData" :disabled="preservationBtn" class="btnSame btnSmall" :class={btnBlue:preservationSelect,btnDisable:preservationDisable} >发布</button>
       <button type="button"  @click="preview" class="btnSame btnSmall"   :disabled="preservationBtn" :class={btnBlue:preservationSelect,btnDisable:preservationDisable} >预览</button>
       <button type="button" class="btnSame btnSmall btnBlue" @click="preservation('ruleForm')">保存</button>
       <button type="button" class="btnSame btnSmall btnCancel" @click="cancelTanc">返回</button>
     </ul>
  </div>
</div>

<div class="addNotice">
      
      <div class="noticeTitle">
            <div class="noticeTitleLeft">
              <p><i></i><span>填写新增公告信息</span></p>
            </div>
      </div>

      <div class="addNoticeForm">
        <el-form :rules="rules" ref="ruleForm"  :model="ruleForm" label-width="100px">
          <div>
         <el-row>
           <el-col :span="12">  
             <el-form-item label="公告名称：" prop="bulletinName">
                <el-input v-model="ruleForm.bulletinName" placeholder="请输入" @change="changeState"   clearable style="width:50%"></el-input>
             </el-form-item>
           </el-col>

           <el-col :span="12">
            <el-form-item label="关键字：">
                <el-input v-model="ruleForm.Keyword" placeholder="请输入" prop="Keyword"  clearable style="width:50%" @change="changeState"></el-input>
             </el-form-item>
              <div class="categoryErr">
                       <strong>关键字只能输入中文、英文、数字和空格,以分号隔开,最多100个字符</strong>
                    </div>
           </el-col>
         </el-row>
         </div>
        <div>
         <el-row>
           <el-col :span="12"> 
             <el-form-item label="类别：" prop="category" >
                <el-select @change="downChange"  class="selectInput removeCalss" clearable filterable style="width:50%" v-model="ruleForm.category" >
                       <el-option
                        v-for="(item,index) in genreList"
                        :key="index"
                        :label="item.noteCategoryName"
                        :value="item.categoryID">
                      </el-option>
                       </el-select>
            </el-form-item>
           </el-col>
           <el-col :span="12">
            <el-form-item label="子类别：" prop="subcategory">
              <el-select @change="downChangeSubcategory"  class="selectInput removeCalss" clearable filterable style="width:50%" v-model="ruleForm.subcategory" >
                       <el-option
                        v-for="(item,index) in findChildList"
                        :key="index"
                        :label="item.noteCategoryName"
                        :value="item.categoryID">
                      </el-option>
                       </el-select>
            </el-form-item>
           </el-col>
         </el-row>
       </div>
       <div :class="{beBool:!beOverdueBool}">
         <el-row>
         <el-col :span="12"> 
           <el-form-item label="是否过期：" required >
             <div class="labelButton">
                     <ul>
                       <li :class="{active:notExpire}" @click="noOverdue">永不过期</li>
                       <li @click="beOverdue" :class="{active:expire}">过期</li>
                     </ul>
                </div>
           </el-form-item>
           </el-col>
          <el-col :span="12">
          <div v-show="beOverdueBool">
             <el-form-item label="过期时间：" prop="date">
               <el-date-picker type="date" class="dateIonicVB" prefix-icon="dateIonic" placeholder="选择日期" v-model="ruleForm.date" style="width:50%"@change="dateBlur"></el-date-picker>
             </el-form-item>
          </div>
           </el-col>
         </el-row>
        </div>
<div >
         <el-row>
         <el-form-item label="公告内容：" required >
           <div class="ulopc">
            <script type="text/plain" id="myEditor" style="width:100%;height:300px;"></script>
            </div>
            <div class="categoryErr" v-show="showCont" style="margin-top:4px">
                        <span>请输入公告内容</span>
                   </div>
         </el-form-item>
          </el-row>
</div>

<div style="padding-bottom:30px">
   <el-row>
       <el-form-item label="相关文件："  >
          <!-- <div class="loadListCont">
               <img  v-show="timgGif" src="/imgs/safetyBulletin/timg.gif" alt="">
            </div> -->
          <div class="enclosure" style="padding-top:6px;">
            <span>附件1</span>
            <div class="enclosureBtn">
              <input v-model="fileName1" type="text" placeholder="请选择文件">
              <button type="button" @click="enclosureBtn1" >请选择文件</button>
            </div>
            <img @click="fileRemove1" src="/imgs/safetyBulletin/garbage.png" alt="">
            <input type="file" class="fileBtn1" @change="fileBtn1"  name="file1" style="display: none" > 
          </div>
          <div class="enclosure">
            <span>附件2</span>
            <div class="enclosureBtn">
              <input  v-model="fileName2" type="text" placeholder="请选择文件">
              <button type="button" @click="enclosureBtn2">请选择文件</button>
            </div>
            <img @click="fileRemove2" src="/imgs/safetyBulletin/garbage.png" alt="">
             <input type="file" class="fileBtn2" @change="fileBtn2"  name="file" style="display: none" > 
          </div>
          <div class="enclosure">
            <span>附件3</span>
            <div class="enclosureBtn">
              <input v-model="fileName3" type="text" placeholder="请选择文件">
              <button type="button" @click="enclosureBtn3">请选择文件</button>
            </div>
            <img @click="fileRemove3" src="/imgs/safetyBulletin/garbage.png" alt="">
            <input type="file" class="fileBtn3" @change="fileBtn3"  name="file" style="display: none" >
          </div>
             <div class="limit">
               附件总量最大<span>30M</span>，上传格式为：doc,docx,xls,xlsx,pdf,zip,rar,sep
             </div>
             </el-form-item>
   </el-row>
</div>
       </el-form>
      </div>

    </div>
</div>

<!-- 确定 -->
<div class="mdw-popup determine">
  <div class="determineCont">
       <div class="determineContTop">
           <div class="determineLeft">
             <img src="/imgs/safetyBulletin/bigErr.png" alt="">
           </div>
           <div class="determineRight" style="margin-top:15px"> 
             <p><span>是否确定离开此页？</span></p>
             <p><b>当前页面所有内容还没有保存</b></p>
           </div>
       </div>
       <div class="determineContBtm">
         <button class="btnSame btnSmall btnBlue" type="button" @click="sureBtn">确定</button>
         <button class="btnSame btnSmall btnCancel" type="button" @click="cancelBtn">取消</button>
       </div>
   </div> 
</div>
<!-- 确定 -->


<!-- 防止保存 -->
<div class="mdw-popup prevent">
  <div class="determineCont">
       <div class="determineContTop">
           <div class="determineLeft">
             <img src="/imgs/safetyBulletin/bigErr.png" alt="">
           </div>
           <div class="determineRight" style="margin-top:20px"> 
             <p><span>无法<span class="preventText"></span>，附件正在上传中！</span></p>
           </div>
       </div>
       <div class="determineContBtm">
         <button class="btnSame btnSmall btnBlue" type="button" @click="loadingFun">确定</button>
       </div>
   </div> 
</div>
<!-- 防止保存 -->

</div>

<!-- 成功 -->
<div class="popupMessage mdw-popup releaseSuccess">
  <div class="popupMessageCont">
   <img src="/imgs/safetyBulletin/cg.png" alt="">
   <span class="successText"></span>
   </div> 
</div>
<!-- 成功 -->

<!-- 失败 -->
<div class="popupMessage mdw-popup releaseFail">
  <div class="popupMessageCont">
   <img src="/imgs/safetyBulletin/sb.png" alt="">
   <span class="failText"></span>
   </div> 
</div>
<!-- 失败 -->

<!-- 加载中 -->
<div class="loadCenter none">
  <img src="/imgs/safetyBulletin/loading1.gif">
  <span>加载中</span>
</div>
<!-- 加载中 -->



<script id="src-qianhou" data-src="../../static" th:attr="data-src=@{../}"></script>
<div>
	<script type="text/javascript" src="../../static/js/public/es6-promise.auto.js?v=1.0.0.1" th:attr="src=@{/js/public/es6-promise.auto.js?v=1.0.0.1}"></script>
    <script type="text/javascript" src="../../static/js/public/jquery.min.js?v=1.0.0.1" th:attr="src=@{/js/public/jquery.min.js?v=1.0.0.1}"></script>
    <script type="text/javascript" src="../../static/js/public/jquery.cookie.js?v=1.0.0.1" th:attr="src=@{/js/public/jquery.cookie.js?v=1.0.0.1}"></script>
    <script type="text/javascript" src="../../static/js/public/getdata.js?v=1.0.0.0" th:attr="src=@{/js/public/getdata.js?v=1.0.0.0}"></script>
    <script type="text/javascript" src="../../static/js/public/vue.js?v=1.0.0.1" th:attr="src=@{/js/public/vue.js?v=1.0.0.1}"></script>
    <script type="text/javascript" src="../../static/js/public/PublicFunction.js?v=1.0.0.0" th:attr="src=@{/js/public/PublicFunction.js?v=1.0.0.0}"></script>
    <script type="text/javascript" src="../../static/js/public/element.js?v=1.0.0.1" th:attr="src=@{/js/public/element.js?v=1.0.0.1}"></script>
     	
    <!-- 组件 pulic（公用）private（私有）-->
    <script src="../../static/compents/public/smcc-footer/smcc-footer.js" th:attr="src=@{/compents/public/smcc-footer/smcc-footer.js}"></script>
    <script src="../../static/compents/public/smcc-breadcrumb/smcc-breadcrumb.js?v=1.0.0.0" th:attr="src=@{/compents/public/smcc-breadcrumb/smcc-breadcrumb.js?v=1.0.0.0}"></script>
    <script type="text/javascript" src="../../static/compents/public/smcc-compents.js" th:attr="src=@{/compents/public/smcc-compents.js}"></script>
	<script  type="text/javascript" src="../../static/js/private/safetyBulletin/jquery.zt.js" th:attr="src=@{/js/private/safetyBulletin/jquery.zt.js}"></script>
	<script  type="text/javascript" src="../../static/js/private/safetyBulletin/ueditor.config.js" th:attr="src=@{/js/private/safetyBulletin/ueditor.config.js}"></script>
	<script  type="text/javascript" src="../../static/js/private/safetyBulletin/ueditor.all.js" th:attr="src=@{/js/private/safetyBulletin/ueditor.all.js}"></script>
	<script  type="text/javascript" src="../../static/js/private/safetyBulletin/lang/zh-cn/zh-cn.js" th:attr="src=@{/js/private/safetyBulletin/lang/zh-cn/zh-cn.js}"></script>
	<script  type="text/javascript" src="../../static/js/private/safetyBulletin/newAnnouncement.js" th:attr="src=@{/js/private/safetyBulletin/newAnnouncement.js}"></script>
</div>
	</body>
</html>