.footer {
	width: 100%;
	height: 98px;
	background: #ededed;
	display: flex;
	display: -ms-flexbox;
	justify-content: center;
	align-items: center;
}

.footer-main {
	display: flex;
	display: -ms-flexbox;
	flex-direction: column;
}

.footer img {
	margin-right: 12px;
}

.footer p {
	color: #666666;
	font-size: 14px;
}

.mar-top {
	margin-top: 5px;
}